{% extends "./layouts/main-fss-internal.html" %}
{% set fssPageTitle = "Free schools store projects" %}
{% set fssPageDesc = "Here is a list of all free school projects." %}
{% set bodyClasses = "fss-wider-page" %}

{% block pageTitle %}
Free schools store projects – {{ serviceName }}
{% endblock %}

{% block pageContent %}

{% macro tag(status) %}
  {% if status == "In progress" %}
    govuk-tag--blue
  {% elif status == "Not started" %}
    govuk-tag--grey
  {% elif status == "Completed" %}
    govuk-tag--green
  {% elif status == "Withdrawn" %}
    govuk-tag--orange
  {% elif status == "Cancelled" %}
    govuk-tag--red
  {% elif status == "Deferred" %}
    govuk-tag--yellow
  {% else %}
  {% endif %}
{% endmacro%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if data['userRole'] == "School places analysis team" %}
      <p class="govuk-body govuk-!-margin-top-3">You can add new projects by using the button below.</p>
      {{ govukButton({
        text: "Create new projects",
        classes: "govuk-!-margin-bottom-6",
        href: "create-new-fss",
        isStartButton: false
      }) }}
      {% endif %}

      {% if data['dashboardSearch'] == "" %}
      <details class="govuk-details fss-project-listing__filters-container" data-module="govuk-details">
      {% else %}
      <details class="govuk-details fss-project-listing__filters-container" data-module="govuk-details" open>
      {% endif %}
        <summary class="govuk-details__summary fss-project-listing__fitlers-details-summary">
          <span class="govuk-details__summary-text govuk-button govuk-button--secondary fss-project-listing__button--main">
            Filter projects
          </span>
        </summary>
        <div class="govuk-details__text fss-project-listing__filters-details">
          <form method="get" class="form">
  
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                  <div class="govuk-form-group">
                    <h2 class="govuk-label-wrapper">
                      <label class="govuk-label govuk-label--m" for="dashboardSearch">
                        Project title or ID
                      </label>
                    </h2>
                    <div id="dashboardSearch-hint" class="govuk-hint">
                      For example, St George’s Primary School or 193323.
                    </div>
                    <input class="govuk-input" id="dashboardSearch" name="dashboardSearch" type="text" value="{{ data['dashboardSearch'] }}">
                  </div>
              </div>
  
              <div class="govuk-grid-column-one-quarter">
              </div>
  
              <div class="govuk-grid-column-one-quarter">
              </div>
  
              <div class="govuk-grid-column-one-quarter">
              </div>
  
            </div>
  
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <div class="govuk-button-group">
                  <button class="govuk-button govuk-button--secondary fss-project-listing__button--apply" data-module="govuk-button ">
                    Apply filters
                  </button>
                
                  <a class="govuk-link" href="dashboard.html?dashboardSearch=">Clear filters</a>
                </div>
              </div>
            </div>
  
          </form>
        </div>
      </details>

      {% if data['userRole'] != 'Delivery officer' %}
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">All projects</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-1">Project title</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-2">Project ID</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-3">Trust</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-4">Regions</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-5">Local authority</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-6">Delivery officer</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-7">Realistic opening date</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-8">Status</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-9">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for project in data['project-list'] %}
          {% if data['dashboardSearch'].toLowerCase() in project.projectTitle.toLowerCase() or data['dashboardSearch'].toLowerCase() in project.projectID.toLowerCase() %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{project.projectTitle}}</th>
            <td class="govuk-table__cell">{{project.projectID}}</td>
            <td class="govuk-table__cell">{{project.leadApplicant}}</td>
            <td class="govuk-table__cell">{{project.geographicalRegion}}</td>
            <td class="govuk-table__cell">{{project.localAuthority}}</td>
            <td class="govuk-table__cell">{{project.deliveryOfficer}}</td>
            <td class="govuk-table__cell">{{project.openingDate}}</td>
            <td class="govuk-table__cell"><strong class="govuk-tag {{ tag(project.status) }}">{{project.status}}</strong></td>
            <td class="govuk-table__cell"><a href="p-o?id={{project.projectID}}" class="govuk-link">View</a></td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">My projects</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-1">Project title</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-2">Project ID</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-3">Trust</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-4">Regions</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-5">Local authority</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-6">Delivery officer</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-7">Realistic opening date</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-8">Status</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-9">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for project in data['project-list'] %}
          {% if data['userName'] == project.deliveryOfficer %}
          {% if data['dashboardSearch'].toLowerCase() in project.projectTitle.toLowerCase() or data['dashboardSearch'].toLowerCase() in project.projectID.toLowerCase() %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{project.projectTitle}}</th>
              <td class="govuk-table__cell">{{project.projectID}}</td>
              <td class="govuk-table__cell">{{project.leadApplicant}}</td>
              <td class="govuk-table__cell">{{project.geographicalRegion}}</td>
              <td class="govuk-table__cell">{{project.localAuthority}}</td>
              <td class="govuk-table__cell">{{project.deliveryOfficer}}</td>
              <td class="govuk-table__cell">{{project.openingDate}}</td>
              <td class="govuk-table__cell"><strong class="govuk-tag {{ tag(project.status) }}">{{project.status}}</strong></td>
              <td class="govuk-table__cell"><a href="p-o?id={{project.projectID}}" class="govuk-link">View</a></td>
            </tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <table class="govuk-table govuk-!-margin-top-9">
        <caption class="govuk-table__caption govuk-table__caption--l">Projects not assigned to me</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-1">Project title</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-2">Project ID</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-3">Trust</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-4">Regions</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-5">Local authority</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-6">Delivery officer</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-7">Realistic opening date</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-8">Status</th>
            <th scope="col" class="govuk-table__header fss-dashboard-table__col-9">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for project in data['project-list'] %}
          {% if data['userName'] != project.deliveryOfficer %}
          {% if data['dashboardSearch'].toLowerCase() in project.projectTitle.toLowerCase() or data['dashboardSearch'].toLowerCase() in project.projectID.toLowerCase() %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{project.projectTitle}}</th>
              <td class="govuk-table__cell">{{project.projectID}}</td>
              <td class="govuk-table__cell">{{project.leadApplicant}}</td>
              <td class="govuk-table__cell">{{project.geographicalRegion}}</td>
              <td class="govuk-table__cell">{{project.localAuthority}}</td>
              <td class="govuk-table__cell">{{project.deliveryOfficer}}</td>
              <td class="govuk-table__cell">{{project.openingDate}}</td>
              <td class="govuk-table__cell"><strong class="govuk-tag {{ tag(project.status) }}">{{project.status}}</strong></td>
              <td class="govuk-table__cell"><a href="p-o?id={{project.projectID}}" class="govuk-link">View</a></td>
            </tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

    </div>
  </div>

{% endblock %}
