{% extends "./layouts/main-fss-project-overview.html" %}
{% set currentProject = data['currentProject'] %}
{% set fssPageDesc = "Project overview" %}
{% set bodyClasses = "fss-project-overview" %}

{% block pageTitle %}
  {{currentProject.projectTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      Sidebar goes here
    </div>
    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-l">Key project information</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Current free school name"
            },
            value: {
              text: currentProject.projectTitle
            }
          }          
          ,
          {
            key: {
              text: "Geographical region"
            },
            value: {
              text: currentProject.geographicalRegion
            }
          }
          ,
          {
            key: {
              text: "Local authority"
            },
            value: {
              text: currentProject.localAuthority
            }
          }
          ,
          {
            key: {
              text: "Lead applicant"
            },
            value: {
              text: currentProject.leadApplicant
            }
          }
          ,
          {
            key: {
              text: "Provisional opening date agreed with trust"
            },
            value: {
              text: currentProject.openingDate
            }
          }
          ,
          {
            key: {
              text: "Constituency"
            },
            value: {
              text: currentProject.localAuthority
            }
          }
          ,
          {
            key: {
              text: "Constituency MP"
            },
            value: {
              text: ""
            }
          }
          ,
          {
            key: {
              text: "Number of forms of entry"
            },
            value: {
              text: currentProject.numberOfFormsOfEntry
            }
          }
          ,
          {
            key: {
              text: "School type"
            },
            value: {
              text: currentProject.schoolType
            }
          }
          ,
          {
            key: {
              text: "Temporary project ID"
            },
            value: {
              text: currentProject.projectID
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l govuk-!-margin-top-9">Pre-opening task list</h2>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            All policies agreed
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  High-quality principlat designate appointed
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Readiness to Open Meeting (ROM) and any follow-up actions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Final revenue funding financial plan
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Agreement on Model Articles of Association
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            Section 9 letter to local authority
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            Admissions policy
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            Evidence of applications
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            Statutory consultation (S10)
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            Impact assessment (S9) and equalities analysis
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            Sustainability and DBS checks
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            GIAS registration
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Get Information About Schools (GIAS)
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            OFSTED pre-registration inspection
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  A task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            Funding agreement
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Funding agreement signed
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>
      </ol>

    </div>

  </div>
{% endblock %}
