{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{# 1 #} 
{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{# 2 #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{# 3 #}
{% block header %}
  {{ header({
    "showNav": "false",
    "showSearch": "false",
    "showUserName": "true",
    "userName": "Sign out",
    "userNameURL": "",
    "selectedNav": pageNav,
    "logoPath": "public/images",
    "logoAltText": "Department for Education",
    "homeHref": "/",
    "service": {
      "name": "Manage free school projects",
      "serviceUrl": "/"
    },
    "primaryLinks": [
      {
        "url"  : "",
        "label" : ""
      }
    ]
  })
}}

{% endblock %}

{% block footer %}
<footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-footer__navigation">
      <div class="govuk-footer__section govuk-grid-column-two-thirds">
        <h2 class="govuk-footer__heading govuk-heading-m">Get help</h2>
        <ul class="govuk-footer__list govuk-footer__list--column-1">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="mailto:regionalservices.rg@education.gov.uk?subject=Manage%20free%20school%20projects:%20support%20query">
              Email Service Support for help using this website
            </a>
            <br>
            <p>We aim to respond within 5 working days, or one working day for more urgent queries.</p>
          </li>
        </ul>
      </div>
      <div class="govuk-footer__section govuk-grid-column-one-third">
        <h2 class="govuk-footer__heading govuk-heading-m">Give feedback</h2>
        <ul class="govuk-footer__list">
          <li class="govuk-footer__list-item">
            This is a new website - <a class="govuk-footer__link" href="#">your feedback (opens in a new tab)</a> will help us to improve it.
          </li>
        </ul>
      </div>
    </div>
    <hr class="govuk-footer__section-break">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow dfe-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#">
              Privacy policy
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="cookies">
              Cookies
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="accessibility-statement">
              Accessibility statement
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
{% endblock %}

{# 4 #} 
{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/dfefrontend.js"></script>
{% endblock %}