{% extends "./layouts/main.html" %}

{% block pageTitle %}
  Create new free school projects – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['returnToSummary'] == 'yes' %}
        <form class="form" action="summary1" method="post">
      {% else %}
        <form class="form" action="choose-create-method" method="post">
      {% endif %}
          <input hidden type="text" name="returnToSummary" value="no"/>

          {{ govukRadios({
            idPrefix: "create-new-project-methods",
            name: "create-new-project-methods",
            fieldset: {
              legend: {
                text: "What do you want to do?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-6"
              }
            },
            items: [
              {
                value: "individual",
                checked: checked("create-new-project-methods", "individual"),
                text: "Create one project",
                hint: {
                  text: "Presumption or wave route"
                }
              },
              {
                value: "bulk",
                checked: checked("create-new-project-methods", "bulk"),
                text: "Upload multiple projects",
                hint: {
                  text: "Wave route only"
                }
              }

            ]
          }) }} 

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>

    </div>

  </div>

{% endblock %}
