{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Edit risk appraisal - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Edit risk appraisal
      </h1>
      
      <form method="post"  action="task-risk-appraisal-landing-page">
        <div class="govuk-form-group">

          {{ govukInput({
            id: "riskAppraisalSharepointLink",
            name: "riskAppraisalSharepointLink",
            label: {
                text: "Risk appraisal form SharePoint link",
                classes: "govuk-heading-m"
            },
            value: currentProject.riskAppraisalSharepointLink
          }) }}

          {{ govukRadios({
            name: "riskRatingEducation",
            fieldset: {
              legend: {
                text: "What's the education risk rating?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                text: "High",
                value: "High",
                checked: checked("currentProject.riskRatingEducation", "High")
              },
              {
                text: "Low",
                value: "Low",
                checked: checked("currentProject.riskRatingEducation", "Low")
              }
            ]
          }) }} 

          {{ govukRadios({
            name: "riskRatingGovernance",
            fieldset: {
              legend: {
                text: "What's the governance risk rating?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                text: "High",
                value: "High",
                checked: checked("currentProject.riskRatingGovernance", "High")
              },
              {
                text: "Low",
                value: "Low",
                checked: checked("currentProject.riskRatingGovernance", "Low")
              }
            ]
          }) }} 

          {{ govukRadios({
            name: "riskRatingFinance",
            fieldset: {
              legend: {
                text: "What's the finance risk rating?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                text: "High",
                value: "High",
                checked: checked("currentProject.riskRatingFinance", "High")
              },
              {
                text: "Low",
                value: "Low",
                checked: checked("currentProject.riskRatingFinance", "Low")
              }
            ]
          }) }} 

          <br><br>
          {{ govukButton({
            text: "Save and continue"
          }) }}

        </div>
      </form>
    </div>
  </div>
{% endblock %}
