{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Edit Curriculum plans - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Edit Curriculum plans
      </h1>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post" action="task-curriculum-plans-landing-page">
            <div class="govuk-form-group">

              {{ govukRadios({
                name: "curriculumPlansSubmitted",
                fieldset: {
                  legend: {
                    text: "Final version of detailed curriculum plans submitted",
                    classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-6"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: checked("currentProject.curriculumPlansSubmitted", "Yes")
                  },
                  {
                    value: "No",
                    text: "No",
                    checked: checked("currentProject.curriculumPlansSubmitted", "No")
                  }
                ]
              }) }}

              {{ govukDateInput({
                id: "curriculumPlansBaselineDate",
                namePrefix: "curriculumPlansBaselineDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Baseline date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.curriculumPlansBaselineDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.curriculumPlansBaselineDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.curriculumPlansBaselineDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukDateInput({
                id: "curriculumPlansForecastDate",
                namePrefix: "curriculumPlansForecastDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Forecast date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.curriculumPlansForecastDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.curriculumPlansForecastDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.curriculumPlansForecastDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukDateInput({
                id: "curriculumPlansActualDate",
                namePrefix: "curriculumPlansActualDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Actual date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.curriculumPlansActualDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.curriculumPlansActualDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.curriculumPlansActualDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukInput({
                id: "curriculumPlansCommentsOnDecisionToApprove",
                name: "curriculumPlansCommentsOnDecisionToApprove",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Comments on decision to approve (if applicable)",
                    classes: "govuk-heading-m"
                },
                value: currentProject.curriculumPlansCommentsOnDecisionToApprove
              }) }}

              {{ govukInput({
                id: "curriculumPlansSharepointLink",
                name: "curriculumPlansSharepointLink",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Sharepoint link",
                    classes: "govuk-heading-m"
                },
                value: currentProject.curriculumPlansSharepointLink
              }) }}

              <br><br>
              {{ govukButton({
                text: "Save and continue"
              }) }}

            </div>
          </form>

        </div>
      </div>


    </div>
  </div>
{% endblock %}
