{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Funding agreement - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Funding agreement
      </h1>

      {{ govukSummaryList({
        
        rows: [
          {
            key: {
              text: "Funding agreement signed"
            },
            value: {
              html: currentProject.fundingAgreementSigned | displayText
            },
            actions: {
              items: [
                {
                  href: "task-funding-agreement-edit",
                  text: "Change",
                  visuallyHiddenText: "Funding agreement signed"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Baseline date"
            },
            value: {
              html: currentProject.fundingAgreementBaselineDate | displayText
            },
            actions: {
              items: [
                {
                  href: "task-funding-agreement-edit",
                  text: "Change",
                  visuallyHiddenText: "Baseline date"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Forecast date"
            },
            value: {
              html: currentProject.fundingAgreementForecastDate | displayText
            },
            actions: {
              items: [
                {
                  href: "task-funding-agreement-edit",
                  text: "Change",
                  visuallyHiddenText: "Forecast date"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Actual date"
            },
            value: {
              html: currentProject.fundingAgreementActualDate | displayText
            },
            actions: {
              items: [
                {
                  href: "task-funding-agreement-edit",
                  text: "Change",
                  visuallyHiddenText: "Actual date"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Comments on decision to approve (if applicable)"
            },
            value: {
              html: currentProject.fundingAgreementCommentsOnDecisionToApprove | displayText
            },
            actions: {
              items: [
                {
                  href: "task-funding-agreement-edit",
                  text: "Change",
                  visuallyHiddenText: "Comments on decision to approve (if applicable)"
                }
              ]
            }
          },
          {
            key: {
              text: "SharePoint link"
            },
            value: {
              html: currentProject.fundingAgreementSharepointLink | displayText
            },
            actions: {
              items: [
                {
                  href: "task-funding-agreement-edit",
                  text: "Change",
                  visuallyHiddenText: "SharePoint link"
                }
              ]
            }
          }
        ]
      }) }}


      <form action="project-task-list" method="post">
        
      {{ govukCheckboxes({
        idPrefix: "task-funding-agreement-status",
        name: "task-funding-agreement-status",
        values: currentProject.taskFundingAgreementStatus,
        items: [
        {
          value: "Complete",
          text: "Mark this section as complete, you can still make changes later"
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Confirm and continue"
      }) }}
        
      </form>

    </div>
  </div>
{% endblock %}
