{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Edit impact assessment and equalities analysis - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Edit impact assessment and equalities analysis
      </h1>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post" action="task-impact-assessment-and-equalities-analysis-landing-page">
            <div class="govuk-form-group">

              {{ govukRadios({
                name: "impactAssessmentCompleted",
                fieldset: {
                  legend: {
                    text: "Impact assessment and equalities analyisis completed",
                    classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-6"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: checked("currentProject.impactAssessmentCompleted", "Yes")
                  },
                  {
                    value: "No",
                    text: "No",
                    checked: checked("currentProject.impactAssessmentCompleted", "No")
                  }
                ]
              }) }}

              {{ govukDateInput({
                id: "impactAssessmentBaselineDate",
                namePrefix: "impactAssessmentBaselineDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Baseline date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.impactAssessmentBaselineDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.impactAssessmentBaselineDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.impactAssessmentBaselineDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukDateInput({
                id: "impactAssessmentForecastDate",
                namePrefix: "impactAssessmentForecastDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Forecast date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.impactAssessmentForecastDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.impactAssessmentForecastDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.impactAssessmentForecastDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukDateInput({
                id: "impactAssessmentActualDate",
                namePrefix: "impactAssessmentActualDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Actual date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.impactAssessmentActualDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.impactAssessmentActualDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.impactAssessmentActualDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukInput({
                id: "impactAssessmentCommentsOnDecisionToApprove",
                name: "impactAssessmentCommentsOnDecisionToApprove",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Comments on decision to approve (if applicable)",
                    classes: "govuk-heading-m"
                },
                value: currentProject.impactAssessmentCommentsOnDecisionToApprove
              }) }}

              {{ govukInput({
                id: "impactAssessmentSharepointLink",
                name: "impactAssessmentSharepointLink",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Sharepoint link",
                    classes: "govuk-heading-m"
                },
                value: currentProject.impactAssessmentSharepointLink
              }) }}

              <br><br>
              {{ govukButton({
                text: "Save and continue"
              }) }}

            </div>
          </form>

        </div>
      </div>


    </div>
  </div>
{% endblock %}
