{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}
{% set bodyClasses = "mfsp-wider-page" %}

{% block pageTitle %}
Pupil numbers - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if data['pupilNumbersJustUpdated'] == 'yes' %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-success" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">Pupil numbers updated.</p>
      </div>
    </div>
    {% endif %}
    <input hidden type="text" name="pupilNumbersJustUpdated" value="no"/>

  
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
      Pupil numbers
    </h1>

    <table class="govuk-table mfsp-pupil-numbers__table-container mfsp-pupil-numbers__table-container--small">
      <caption class="govuk-table__caption govuk-table__caption--l">Capacity when full</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header col1">School group</th>
          <th scope="col" class="govuk-table__header">Capacity</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Nursery</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersFullCapacityNursery}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Reception to year 6</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersFullCapacityReceptionToYear6}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 7 to year 11</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersFullCapacityYear7ToYear11}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 12 to year 14</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersFullCapacityYear12ToYear14}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Special educational needs (specialist resource provision)</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersFullCapacitySpecialEducationalNeeds}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Alternative provision (specialist resource provision)</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersFullCapacityAlternativeProvision}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Total</strong></td>
          <td class="govuk-table__cell">
            {{+currentProject.pupilNumbersFullCapacityNursery + 
              +currentProject.pupilNumbersFullCapacityReceptionToYear6 + 
              +currentProject.pupilNumbersFullCapacityYear7ToYear11 + 
              +currentProject.pupilNumbersFullCapacityYear12ToYear14 + 
              +currentProject.pupilNumbersFullCapacitySpecialEducationalNeeds + 
              +currentProject.pupilNumbersFullCapacityAlternativeProvision
            }}
          </td>
        </tr>
      </tbody>
    </table>

    <form action="other-info-pupil-numbers-capacity-edit" method="post" class="govuk-!-margin-bottom-9">

      {{ govukButton({
        text: "Edit Capacity when full"
      }) }}
        
    </form>

    <table class="govuk-table mfsp-pupil-numbers__table-container">
      <caption class="govuk-table__caption govuk-table__caption--l">Recruitment and viability</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header col1">School year</th>
          <th scope="col" class="govuk-table__header">Minimum viable number (MVN) for first year</th>
          <th scope="col" class="govuk-table__header">Applications received</th>
          <th scope="col" class="govuk-table__header">Percentage received compared to MVN</th>
          <th scope="col" class="govuk-table__header">Percentage received compared to published admission number (PAN)</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Nursery</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersRecruitmentNurseryMVN}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersRecruitmentNurseryApplicationsReceived}}</td>
          <td class="govuk-table__cell">{{(currentProject.pupilNumbersRecruitmentNurseryApplicationsReceived / currentProject.pupilNumbersRecruitmentNurseryMVN * 100) | displayPercentage}}</td>
          <td class="govuk-table__cell">{{(currentProject.pupilNumbersRecruitmentNurseryApplicationsReceived / currentProject.pupilNumbersPre16PANNursery * 100) | displayPercentage}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Reception to year 6</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersRecruitmentReceptionToYear6MVN}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersRecruitmentReceptionToYear6ApplicationsReceived}}</td>
          <td class="govuk-table__cell">{{(currentProject.pupilNumbersRecruitmentReceptionToYear6ApplicationsReceived / currentProject.pupilNumbersRecruitmentReceptionToYear6MVN * 100) | displayPercentage}}</td>
          <td class="govuk-table__cell">{{(currentProject.pupilNumbersRecruitmentReceptionToYear6ApplicationsReceived / currentProject.pupilNumbersPre16PANReception * 100) | displayPercentage}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 7 to year 11</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersRecruitmentYear7ToYear11MVN}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersRecruitmentYear7ToYear11ApplicationsReceived}}</td>
          <td class="govuk-table__cell">{{(currentProject.pupilNumbersRecruitmentYear7ToYear11ApplicationsReceived / currentProject.pupilNumbersRecruitmentYear7ToYear11MVN * 100) | displayPercentage}}</td>
          <td class="govuk-table__cell">{{(currentProject.pupilNumbersRecruitmentYear7ToYear11ApplicationsReceived / (currentProject.pupilNumbersPre16PANYear7 + currentProject.pupilNumbersPre16PANYear10) * 100) | displayPercentage}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 12 to year 14</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersRecruitmentYear12ToYear14MVN}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersRecruitmentYear12ToYear14ApplicationsReceived}}</td>
          <td class="govuk-table__cell">{{(currentProject.pupilNumbersRecruitmentYear12ToYear14ApplicationsReceived / currentProject.pupilNumbersRecruitmentYear12ToYear14MVN * 100) | displayPercentage}}</td>
          <td class="govuk-table__cell">{{(currentProject.pupilNumbersRecruitmentYear12ToYear14ApplicationsReceived / currentProject.pupilNumbersPre16PANOtherPre16 * 100) | displayPercentage}}</td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Total</strong></td>
          <td class="govuk-table__cell">
            {{+currentProject.pupilNumbersRecruitmentNurseryMVN +
              +currentProject.pupilNumbersRecruitmentReceptionToYear6MVN +
              +currentProject.pupilNumbersRecruitmentYear7ToYear11MVN +
              +currentProject.pupilNumbersRecruitmentYear12ToYear14MVN
            }}
          </td>
          <td class="govuk-table__cell">
            {{+currentProject.pupilNumbersRecruitmentNurseryApplicationsReceived +
              +currentProject.pupilNumbersRecruitmentReceptionToYear6ApplicationsReceived +
              +currentProject.pupilNumbersRecruitmentYear7ToYear11ApplicationsReceived +
              +currentProject.pupilNumbersRecruitmentYear12ToYear14ApplicationsReceived
            }}
          </td>
          <td class="govuk-table__cell">
          </td>
          <td class="govuk-table__cell">
          </td>
        </tr>
      </tbody>
    </table>

    <form action="other-info-pupil-numbers-recruitment-and-viability-edit" method="post" class="govuk-!-margin-bottom-9">

      {{ govukButton({
        text: "Edit Recruitment and viability"
      }) }}
        
    </form>

    <table class="govuk-table mfsp-pupil-numbers__table-container">
      <caption class="govuk-table__caption govuk-table__caption--l">Pre-16 capacity build-up</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header col1">School year</th>
          <th scope="col" class="govuk-table__header">Current capacity (if school is open)</th>
          <th scope="col" class="govuk-table__header">First year</th>
          <th scope="col" class="govuk-table__header">Second year</th>
          <th scope="col" class="govuk-table__header">Third year</th>
          <th scope="col" class="govuk-table__header">Fourth year</th>
          <th scope="col" class="govuk-table__header">Fifth year</th>
          <th scope="col" class="govuk-table__header">Sixth year</th>
          <th scope="col" class="govuk-table__header">Seventh year</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Nursery</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpNurseryCurrentCapacity}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpNurseryFirstYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpNurserySecondYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpNurseryThirdYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpNurseryFourthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpNurseryFifthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpNurserySixthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpNurserySeventhYear}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Reception</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpReceptionCurrentCapacity}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpReceptionFirstYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpReceptionSecondYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpReceptionThirdYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpReceptionFourthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpReceptionFifthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpReceptionSixthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpReceptionSeventhYear}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 1</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear1CurrentCapacity}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear1FirstYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear1SecondYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear1ThirdYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear1FourthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear1FifthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear1SixthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear1SeventhYear}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 2</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear2CurrentCapacity}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear2FirstYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear2SecondYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear2ThirdYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear2FourthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear2FifthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear2SixthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear2SeventhYear}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 3</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear3CurrentCapacity}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear3FirstYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear3SecondYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear3ThirdYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear3FourthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear3FifthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear3SixthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear3SeventhYear}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 4</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear4CurrentCapacity}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear4FirstYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear4SecondYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear4ThirdYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear4FourthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear4FifthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear4SixthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear4SeventhYear}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 5</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear5CurrentCapacity}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear5FirstYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear5SecondYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear5ThirdYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear5FourthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear5FifthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear5SixthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear5SeventhYear}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 6</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear6CurrentCapacity}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear6FirstYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear6SecondYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear6ThirdYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear6FourthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear6FifthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear6SixthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear6SeventhYear}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 7</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear7CurrentCapacity}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear7FirstYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear7SecondYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear7ThirdYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear7FourthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear7FifthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear7SixthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear7SeventhYear}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 8</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear8CurrentCapacity}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear8FirstYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear8SecondYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear8ThirdYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear8FourthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear8FifthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear8SixthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear8SeventhYear}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 9</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear9CurrentCapacity}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear9FirstYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear9SecondYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear9ThirdYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear9FourthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear9FifthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear9SixthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear9SeventhYear}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 10</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear10CurrentCapacity}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear10FirstYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear10SecondYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear10ThirdYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear10FourthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear10FifthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear10SixthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear10SeventhYear}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Year 11</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear11CurrentCapacity}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear11FirstYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear11SecondYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear11ThirdYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear11FourthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear11FifthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear11SixthYear}}</td>
          <td class="govuk-table__cell">{{currentProject.pupilNumbersPre16BuildUpYear11SeventhYear}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Total</strong></td>
          <td class="govuk-table__cell">
            {{+currentProject.pupilNumbersPre16BuildUpNurseryCurrentCapacity + 
              +currentProject.pupilNumbersPre16BuildUpReceptionCurrentCapacity + 
              +currentProject.pupilNumbersPre16BuildUpYear1CurrentCapacity +
              +currentProject.pupilNumbersPre16BuildUpYear2CurrentCapacity +
              +currentProject.pupilNumbersPre16BuildUpYear3CurrentCapacity +
              +currentProject.pupilNumbersPre16BuildUpYear4CurrentCapacity +
              +currentProject.pupilNumbersPre16BuildUpYear5CurrentCapacity +
              +currentProject.pupilNumbersPre16BuildUpYear6CurrentCapacity +
              +currentProject.pupilNumbersPre16BuildUpYear7CurrentCapacity +
              +currentProject.pupilNumbersPre16BuildUpYear8CurrentCapacity +
              +currentProject.pupilNumbersPre16BuildUpYear9CurrentCapacity +
              +currentProject.pupilNumbersPre16BuildUpYear10CurrentCapacity +
              +currentProject.pupilNumbersPre16BuildUpYear11CurrentCapacity
            }}
          </td>
          <td class="govuk-table__cell">
            {{+currentProject.pupilNumbersPre16BuildUpNurseryFirstYear + 
              +currentProject.pupilNumbersPre16BuildUpReceptionFirstYear + 
              +currentProject.pupilNumbersPre16BuildUpYear1FirstYear +
              +currentProject.pupilNumbersPre16BuildUpYear2FirstYear +
              +currentProject.pupilNumbersPre16BuildUpYear3FirstYear +
              +currentProject.pupilNumbersPre16BuildUpYear4FirstYear +
              +currentProject.pupilNumbersPre16BuildUpYear5FirstYear +
              +currentProject.pupilNumbersPre16BuildUpYear6FirstYear +
              +currentProject.pupilNumbersPre16BuildUpYear7FirstYear +
              +currentProject.pupilNumbersPre16BuildUpYear8FirstYear +
              +currentProject.pupilNumbersPre16BuildUpYear9FirstYear +
              +currentProject.pupilNumbersPre16BuildUpYear10FirstYear +
              +currentProject.pupilNumbersPre16BuildUpYear11FirstYear
            }}
          </td>
          <td class="govuk-table__cell">
            {{+currentProject.pupilNumbersPre16BuildUpNurserySecondYear + 
              +currentProject.pupilNumbersPre16BuildUpReceptionSecondYear + 
              +currentProject.pupilNumbersPre16BuildUpYear1SecondYear +
              +currentProject.pupilNumbersPre16BuildUpYear2SecondYear +
              +currentProject.pupilNumbersPre16BuildUpYear3SecondYear +
              +currentProject.pupilNumbersPre16BuildUpYear4SecondYear +
              +currentProject.pupilNumbersPre16BuildUpYear5SecondYear +
              +currentProject.pupilNumbersPre16BuildUpYear6SecondYear +
              +currentProject.pupilNumbersPre16BuildUpYear7SecondYear +
              +currentProject.pupilNumbersPre16BuildUpYear8SecondYear +
              +currentProject.pupilNumbersPre16BuildUpYear9SecondYear +
              +currentProject.pupilNumbersPre16BuildUpYear10SecondYear +
              +currentProject.pupilNumbersPre16BuildUpYear11SecondYear
            }}
          </td>
          <td class="govuk-table__cell">
            {{+currentProject.pupilNumbersPre16BuildUpNurseryThirdYear + 
              +currentProject.pupilNumbersPre16BuildUpReceptionThirdYear + 
              +currentProject.pupilNumbersPre16BuildUpYear1ThirdYear +
              +currentProject.pupilNumbersPre16BuildUpYear2ThirdYear +
              +currentProject.pupilNumbersPre16BuildUpYear3ThirdYear +
              +currentProject.pupilNumbersPre16BuildUpYear4ThirdYear +
              +currentProject.pupilNumbersPre16BuildUpYear5ThirdYear +
              +currentProject.pupilNumbersPre16BuildUpYear6ThirdYear +
              +currentProject.pupilNumbersPre16BuildUpYear7ThirdYear +
              +currentProject.pupilNumbersPre16BuildUpYear8ThirdYear +
              +currentProject.pupilNumbersPre16BuildUpYear9ThirdYear +
              +currentProject.pupilNumbersPre16BuildUpYear10ThirdYear +
              +currentProject.pupilNumbersPre16BuildUpYear11ThirdYear
            }}
          </td>
          <td class="govuk-table__cell">
            {{+currentProject.pupilNumbersPre16BuildUpNurseryFourthYear + 
              +currentProject.pupilNumbersPre16BuildUpReceptionFourthYear + 
              +currentProject.pupilNumbersPre16BuildUpYear1FourthYear +
              +currentProject.pupilNumbersPre16BuildUpYear2FourthYear +
              +currentProject.pupilNumbersPre16BuildUpYear3FourthYear +
              +currentProject.pupilNumbersPre16BuildUpYear4FourthYear +
              +currentProject.pupilNumbersPre16BuildUpYear5FourthYear +
              +currentProject.pupilNumbersPre16BuildUpYear6FourthYear +
              +currentProject.pupilNumbersPre16BuildUpYear7FourthYear +
              +currentProject.pupilNumbersPre16BuildUpYear8FourthYear +
              +currentProject.pupilNumbersPre16BuildUpYear9FourthYear +
              +currentProject.pupilNumbersPre16BuildUpYear10FourthYear +
              +currentProject.pupilNumbersPre16BuildUpYear11FourthYear
            }}
          </td>
          <td class="govuk-table__cell">
            {{+currentProject.pupilNumbersPre16BuildUpNurseryFifthYear + 
              +currentProject.pupilNumbersPre16BuildUpReceptionFifthYear + 
              +currentProject.pupilNumbersPre16BuildUpYear1FifthYear +
              +currentProject.pupilNumbersPre16BuildUpYear2FifthYear +
              +currentProject.pupilNumbersPre16BuildUpYear3FifthYear +
              +currentProject.pupilNumbersPre16BuildUpYear4FifthYear +
              +currentProject.pupilNumbersPre16BuildUpYear5FifthYear +
              +currentProject.pupilNumbersPre16BuildUpYear6FifthYear +
              +currentProject.pupilNumbersPre16BuildUpYear7FifthYear +
              +currentProject.pupilNumbersPre16BuildUpYear8FifthYear +
              +currentProject.pupilNumbersPre16BuildUpYear9FifthYear +
              +currentProject.pupilNumbersPre16BuildUpYear10FifthYear +
              +currentProject.pupilNumbersPre16BuildUpYear11FifthYear
            }}
          </td>
          <td class="govuk-table__cell">
            {{+currentProject.pupilNumbersPre16BuildUpNurserySixthYear + 
              +currentProject.pupilNumbersPre16BuildUpReceptionSixthYear + 
              +currentProject.pupilNumbersPre16BuildUpYear1SixthYear +
              +currentProject.pupilNumbersPre16BuildUpYear2SixthYear +
              +currentProject.pupilNumbersPre16BuildUpYear3SixthYear +
              +currentProject.pupilNumbersPre16BuildUpYear4SixthYear +
              +currentProject.pupilNumbersPre16BuildUpYear5SixthYear +
              +currentProject.pupilNumbersPre16BuildUpYear6SixthYear +
              +currentProject.pupilNumbersPre16BuildUpYear7SixthYear +
              +currentProject.pupilNumbersPre16BuildUpYear8SixthYear +
              +currentProject.pupilNumbersPre16BuildUpYear9SixthYear +
              +currentProject.pupilNumbersPre16BuildUpYear10SixthYear +
              +currentProject.pupilNumbersPre16BuildUpYear11SixthYear
            }}
          </td>
          <td class="govuk-table__cell">
            {{+currentProject.pupilNumbersPre16BuildUpNurserySeventhYear + 
              +currentProject.pupilNumbersPre16BuildUpReceptionSeventhYear + 
              +currentProject.pupilNumbersPre16BuildUpYear1SeventhYear +
              +currentProject.pupilNumbersPre16BuildUpYear2SeventhYear +
              +currentProject.pupilNumbersPre16BuildUpYear3SeventhYear +
              +currentProject.pupilNumbersPre16BuildUpYear4SeventhYear +
              +currentProject.pupilNumbersPre16BuildUpYear5SeventhYear +
              +currentProject.pupilNumbersPre16BuildUpYear6SeventhYear +
              +currentProject.pupilNumbersPre16BuildUpYear7SeventhYear +
              +currentProject.pupilNumbersPre16BuildUpYear8SeventhYear +
              +currentProject.pupilNumbersPre16BuildUpYear9SeventhYear +
              +currentProject.pupilNumbersPre16BuildUpYear10SeventhYear +
              +currentProject.pupilNumbersPre16BuildUpYear11SeventhYear
            }}
          </td>
        </tr>
      </tbody>
    </table>

    <form action="other-info-pupil-numbers-pre-16-build-up-capacity-edit" method="post" class="govuk-!-margin-bottom-9">

      {{ govukButton({
        text: "Edit Pre-16 capacity build-up"
      }) }}
        
    </form>
    
    <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-two-thirds">
    
        <h2 class="govuk-heading-m">
          Related tasks
        </h2>
        
        <p class="govuk-body">You may want to complete the following related tasks.</p>
    
        <ol class="app-task-list">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="task-applications-evidence-landing-page" aria-describedby="contact-details-status">
                Applications evidence
              </a>
            </span>
            {{ currentProject.taskApplicationsEvidenceStatus
              | taskStatus([currentProject.taskApplicationsEvidenceStatus]) 
              | safe }}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="task-accepted-place-offers-evidence-landing-page" aria-describedby="contact-details-status">
                Accepted place offers evidence
              </a>
            </span>
            {{ currentProject.taskAcceptedPlaceOffersStatus
              | taskStatus([]) 
              | safe }}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="task-pupil-numbers-checks-landing-page" aria-describedby="contact-details-status">
                Pupil numbers checks
              </a>
            </span>
            {{ currentProject.taskPupilNumbersChecksStatus
              | taskStatus([]) 
              | safe }}
          </li>
        </ol>
    
      </div>
    </div>
    
  </div>

</div>

{% endblock %}
