{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Edit region and local authority - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Edit region and local authority
      </h1>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post" action="task-region-and-local-authority-landing-page">
            <div class="govuk-form-group">

              
              {{ govukRadios({
                name: "geographicalRegion",
                fieldset: {
                  legend: {
                    text: "Region",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    text: "East Midlands",
                    value: "East Midlands",
                    checked: checked("currentProject.geographicalRegion", "East Midlands")
                  },
                  {
                    text: "East of England",
                    value: "East of England",
                    checked: checked("currentProject.geographicalRegion", "East of England")
                  },
                  {
                    text: "London",
                    value: "London",
                    checked: checked("currentProject.geographicalRegion", "London")
                  },
                  {
                    text: "North East",
                    value: "North East",
                    checked: checked("currentProject.geographicalRegion", "North East")
                  },
                  {
                    text: "North West",
                    value: "North West",
                    checked: checked("currentProject.geographicalRegion", "North West")
                  },
                  {
                    text: "South East",
                    value: "South East",
                    checked: checked("currentProject.geographicalRegion", "South East")
                  },
                  {
                    text: "South West",
                    value: "South West",
                    checked: checked("currentProject.geographicalRegion", "South West")
                  },
                  {
                    text: "West Midlands",
                    value: "West Midlands",
                    checked: checked("currentProject.geographicalRegion", "West Midlands")
                  },
                  {
                    text: "Yorkshire and the Humber",
                    value: "Yorkshire and the Humber",
                    checked: checked("currentProject.geographicalRegion", "Yorkshire and the Humber")
                  }
                ]
              }) }}

              {{ govukRadios({
                name: "localAuthority",
                fieldset: {
                  legend: {
                    text: "Local authority",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    text: "Westminster",
                    value: "Westminster",
                    checked: checked("currentProject.localAuthority", "Westminster")
                  },
                  {
                    text: "Bradford",
                    value: "Bradford",
                    checked: checked("currentProject.localAuthority", "Bradford")
                  },
                  {
                    text: "Medway",
                    value: "Medway",
                    checked: checked("currentProject.localAuthority", "Medway")
                  },
                  {
                    text: "Kent",
                    value: "Kent",
                    checked: checked("currentProject.localAuthority", "Kent")
                  }
                ]
              }) }} 

              <br><br>
              {{ govukButton({
                text: "Save and continue"
              }) }}

            </div>
          </form>

        </div>
      </div>


    </div>
  </div>
{% endblock %}
