{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Edit GIAS (Get information about schools) - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Edit GIAS (Get information about schools)
      </h1>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post" action="task-getting-ready-to-open-gias-landing-page">
            <div class="govuk-form-group">

              {{ govukRadios({
                name: "gettingReadyToOpenGiasEntryRequestedUpdate",
                fieldset: {
                  legend: {
                    text: "Requested that GIAS entry is updated",
                    classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-6"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: checked("currentProject.gettingReadyToOpenGiasEntryRequestedUpdate", "Yes")
                  },
                  {
                    value: "No",
                    text: "No",
                    checked: checked("currentProject.gettingReadyToOpenGiasEntryRequestedUpdate", "No")
                  }
                ]
              }) }}

              {{ govukDateInput({
                id: "gettingReadyToOpenGiasForecastDate",
                namePrefix: "gettingReadyToOpenGiasForecastDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Forecast date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.gettingReadyToOpenGiasForecastDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.gettingReadyToOpenGiasForecastDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.gettingReadyToOpenGiasForecastDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukDateInput({
                id: "gettingReadyToOpenGiasActualDate",
                namePrefix: "gettingReadyToOpenGiasActualDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Actual date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.gettingReadyToOpenGiasActualDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.gettingReadyToOpenGiasActualDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.gettingReadyToOpenGiasActualDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukInput({
                id: "gettingReadyToOpenGiasCommentsOnDecisionToApprove",
                name: "gettingReadyToOpenGiasCommentsOnDecisionToApprove",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Comments on decision to approve (if applicable)",
                    classes: "govuk-heading-m"
                },
                value: currentProject.gettingReadyToOpenGiasCommentsOnDecisionToApprove
              }) }}

              {{ govukInput({
                id: "gettingReadyToOpenGiasSharepointLink",
                name: "gettingReadyToOpenGiasSharepointLink",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Sharepoint link",
                    classes: "govuk-heading-m"
                },
                value: currentProject.gettingReadyToOpenGiasSharepointLink
              }) }}

              <br><br>
              {{ govukButton({
                text: "Save and continue"
              }) }}

            </div>
          </form>

        </div>
      </div>


    </div>
  </div>
{% endblock %}
