{% extends "./layouts/main.html" %}

{% block pageTitle %}
  Update multiple fields - Editing information of multiple projects in bulk – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <aside class="govuk-prototype-kit-common-templates-related-items govuk-!-margin-bottom-9" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Temporary links: do not build it
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="bulk-edit-file-upload-file-format-error">
                Fast-forward: file format not accepted
              </a>
            </li>
            <li>
              <a href="bulk-edit-file-upload-validation-failed">
                Fast-forward: validation failed
              </a>
            </li>
            <li>
              <a href="bulk-edit-check-your-answers">
                Fast-forward: validation passed
              </a>
            </li>
          </ul>
        </nav>
      </aside>

      {% if data['returnToSummary'] == 'yes' %}
        <form class="form" action="summary1" method="post">
      {% else %}
        <form class="form" action="bulk-edit-check-your-answers" method="post">
      {% endif %}
          <input hidden type="text" name="returnToSummary" value="no"/>

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
            Update multiple fields
          </h1>

          <p class="govuk-body">You can edit these fields in multiple projects:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>project status</li>
            <li>actual opening date</li>
            <li>local authority</li>
          </ul>

          <p class="govuk-body">You can download this <a href="/public/downloads/SPA Team - Bulk Upload Template.xlsx">example spreadsheet</a> and upload a completed one.</p>

          <div class="govuk-inset-text govuk-!-margin-bottom-8">
            Leaving spreadsheet fields empty will not remove any existing project data.
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload-1">
              Upload a file
            </label>
            <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
          </div>

          {{ govukButton({
            text: "Upload"
          }) }}

        </form>

    </div>


  </div>

{% endblock %}
