{% extends "./layouts/main.html" %}

{% block pageTitle %}
  Create new free school projects – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['returnToSummary'] == 'yes' %}
        <form class="form" action="summary1" method="post">
      {% else %}
        <form class="form" action="choose-create-method" method="post">
      {% endif %}
          <input hidden type="text" name="returnToSummary" value="no"/>

          {% set CentralRouteHtml %}
            {{ govukInput({
              id: "CentralRouteApplicationWave",
              name: "CentralRouteApplicationWave",
              classes: "",
              label: {
                  text: "Application wave",
                  classes: "govuk-heading-s govuk-!-font-size-19 govuk-!-margin-bottom-0 govuk-!-margin-top-3"
              },
              hint: {
                text: 'For example, "FS Wave 4" or "FS Wave 12"'
              },
              value: currentProject.CentralRouteApplicationWave
            }) }}
          {% endset -%}

          {{ govukRadios({
            idPrefix: "create-new-project-methods",
            name: "create-new-project-methods",
            fieldset: {
              legend: {
                text: "What do you want to do?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-6"
              }
            },
            items: [
              {
                value: "presumption",
                checked: checked("create-new-project-methods", "presumption"),
                text: "Create a presumption project",
                hint: {
                  text: "Presumption route only"
                }
              },
              {
                value: "central",
                checked: checked("create-new-project-methods", "central"),
                text: "Create a central route project",
                hint: {
                  text: "Central route only"
                },
                conditional: {
                  html: CentralRouteHtml
                }
              }

            ]
          }) }} 

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>

    </div>

  </div>

{% endblock %}
