{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Draft education brief - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Draft education brief
      </h1>

      {{ govukSummaryList({
        
        rows: [
          {
            key: {
              text: "Draft education brief submitted to education adviser"
            },
            value: {
              html: currentProject.draftEducationBriefSigned | displayText
            },
            actions: {
              items: [
                {
                  href: "task-draft-education-brief-edit",
                  text: "Change",
                  visuallyHiddenText: "Draft education brief submitted to education adviser"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Forecast date"
            },
            value: {
              html: currentProject.draftEducationBriefForecastDate | displayText
            },
            actions: {
              items: [
                {
                  href: "task-draft-education-brief-edit",
                  text: "Change",
                  visuallyHiddenText: "Forecast date"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Actual date"
            },
            value: {
              html: currentProject.draftEducationBriefActualDate | displayText
            },
            actions: {
              items: [
                {
                  href: "task-draft-education-brief-edit",
                  text: "Change",
                  visuallyHiddenText: "Actual date"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Comments on decision to approve (if applicable)"
            },
            value: {
              html: currentProject.draftEducationBriefCommentsOnDecisionToApprove | displayText
            },
            actions: {
              items: [
                {
                  href: "task-draft-education-brief-edit",
                  text: "Change",
                  visuallyHiddenText: "Comments on decision to approve (if applicable)"
                }
              ]
            }
          },
          {
            key: {
              text: "SharePoint link"
            },
            value: {
              html: currentProject.draftEducationBriefSharepointLink | displayText
            },
            actions: {
              items: [
                {
                  href: "task-draft-education-brief-edit",
                  text: "Change",
                  visuallyHiddenText: "SharePoint link"
                }
              ]
            }
          }
        ]
      }) }}


      <form action="project-task-list" method="post">
        
      {{ govukCheckboxes({
        idPrefix: "task-draft-education-brief-status",
        name: "task-draft-education-brief-status",
        values: currentProject.taskDraftEducationBriefStatus,
        items: [
        {
          value: "Complete",
          text: "Mark this section as complete, you can still make changes later"
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Confirm and continue"
      }) }}
        
      </form>

    </div>
  </div>
{% endblock %}
