{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Edit suitability and DBS checks - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Edit suitability and DBS checks
      </h1>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post" action="task-suitability-and-dbs-checks-landing-page">

            <div class="govuk-form-group">

              {{ govukRadios({
                name: "suitabilityAndDbsChecksIntiated",
                fieldset: {
                  legend: {
                    text: "All suitability and DBS checks initiated",
                    classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-6"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: checked("currentProject.suitabilityAndDbsChecksIntiated", "Yes")
                  },
                  {
                    value: "No",
                    text: "No",
                    checked: checked("currentProject.suitabilityAndDbsChecksIntiated", "No")
                  }
                ]
              }) }}

              {{ govukRadios({
                name: "suitabilityAndDbsChecksCompleted",
                fieldset: {
                  legend: {
                    text: "At least 3 checks completed, including the Chair of Trustees",
                    classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-6"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: checked("currentProject.suitabilityAndDbsChecksCompleted", "Yes")
                  },
                  {
                    value: "No",
                    text: "No",
                    checked: checked("currentProject.suitabilityAndDbsChecksCompleted", "No")
                  }
                ]
              }) }}

              {{ govukDateInput({
                id: "suitabilityAndDbsChecksForecastDate",
                namePrefix: "suitabilityAndDbsChecksForecastDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Forecast date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.suitabilityAndDbsChecksForecastDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.suitabilityAndDbsChecksForecastDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.suitabilityAndDbsChecksForecastDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukDateInput({
                id: "suitabilityAndDbsChecksActualDate",
                namePrefix: "suitabilityAndDbsChecksActualDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Actual date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.suitabilityAndDbsChecksActualDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.suitabilityAndDbsChecksActualDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.suitabilityAndDbsChecksActualDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukInput({
                id: "suitabilityAndDbsChecksCommentsOnDecisionToApprove",
                name: "suitabilityAndDbsChecksCommentsOnDecisionToApprove",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Comments on decision to approve (if applicable)",
                    classes: "govuk-heading-m"
                },
                value: currentProject.suitabilityAndDbsChecksCommentsOnDecisionToApprove
              }) }}

              {{ govukInput({
                id: "suitabilityAndDbsChecksSharepointLink",
                name: "suitabilityAndDbsChecksSharepointLink",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Sharepoint link",
                    classes: "govuk-heading-m"
                },
                value: currentProject.suitabilityAndDbsChecksSharepointLink
              }) }}

              <br><br>
              {{ govukButton({
                text: "Save and continue"
              }) }}

            </div>
          </form>

        </div>
      </div>


    </div>
  </div>
{% endblock %}
