{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Dates - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Dates
      </h1>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Entry into pre-opening
          </dt>
          <dd class="govuk-summary-list__value">
            {% if currentProject.dateOfEntryIntoPreOpeningDay and 
              currentProject.dateOfEntryIntoPreOpeningMonth and 
              currentProject.dateOfEntryIntoPreOpeningYear %}

              {% set dateOfEntryIntoPreopening = currentProject.dateOfEntryIntoPreOpeningYear + currentProject.dateOfEntryIntoPreOpeningMonth + currentProject.dateOfEntryIntoPreOpeningDay %}

              {{ dateOfEntryIntoPreopening | displayDate }}
              {% else %}
              <span class="empty">Empty</span>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="task-dates-edit">
              Change <span class="govuk-visually-hidden">Entry into pre-opening</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provisional opening date agreed with trust
          </dt>
          <dd class="govuk-summary-list__value">
            {% if currentProject.provisionalOpeningDateDay and 
              currentProject.provisionalOpeningDateMonth and 
              currentProject.provisionalOpeningDateYear %}

              {% set provisionalOpeningDate = currentProject.provisionalOpeningDateYear + currentProject.provisionalOpeningDateMonth + currentProject.provisionalOpeningDateDay  %}

              {{ provisionalOpeningDate | displayDate }}
              {% else %} 
              <span class="empty">Empty</span>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="task-dates-edit">
              Change <span class="govuk-visually-hidden">Provisional opening date agreed with trust</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Opening academic year
          </dt>
          <dd class="govuk-summary-list__value">
            {% if currentProject.openingAcademicStart and
              currentProject.openingAcademicEnd %}
              <span>{{ currentProject.openingAcademicStart }}/{{ currentProject.openingAcademicEnd }}</span>
              {% else %} 
              <span class="empty">Empty</span>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="task-dates-edit">
              Change <span class="govuk-visually-hidden">Opening academic year</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="task-dates-confirmation" method="post">
        
      {{ govukCheckboxes({
        idPrefix: "task-dates-status",
        name: "task-dates-status",
        values: currentProject.taskDatesStatus,
        items: [
        {
          value: "Complete",
          text: "Mark this section as complete, you can still make changes later"
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Confirm and continue"
      }) }}
        
      </form>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      Review risk rating
    </h2>
    
    <p class="govuk-body">You may want to update the risk rating after confirming the provisional opening date.</p>

    {{ govukSummaryList({
      card: {
        title: {
          text: "Risk rating and summary"
        },
        actions: {
          items: [
            {
              href: "other-info-rag-rating-current",
              text: "Change",
              visuallyHiddenText: "Risk rating and summary"
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "Date"
          },
          value: {
            html: "21 March 2023"
          }
        },
        {
          key: {
            text: "Overall risk rating"
          },
          value: {
            html: "Amber Green" | displayRAGRating
          }
        },
        {
          key: {
            text: "Overall risk summary"
          },
          value: {
            html: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis et ex ac egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. "
          }
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
