{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Kick-off meeting - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Kick-off meeting
      </h1>

      {{ govukSummaryList({
        
        rows: [
          {
            key: {
              text: "Funding arrangement details agreed between local authority and sponsor"
            },
            value: {
              html: currentProject.kickOffMeetingFundingArrangementDetailsAgreed | displayText
            },
            actions: {
              items: [
                {
                  href: "task-kick-off-meeting-edit",
                  text: "Change",
                  visuallyHiddenText: "Funding arrangement details agreed between local authority and sponsor"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Forecast date"
            },
            value: {
              html: currentProject | withDatePrefixed('kickOffMeetingForecastDate') | displayDate
            },
            actions: {
              items: [
                {
                  href: "task-kick-off-meeting-edit",
                  text: "Change",
                  visuallyHiddenText: "Forecast date"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Actual date"
            },
            value: {
              html: currentProject | withDatePrefixed('kickOffMeetingActualDate') | displayDate
            },
            actions: {
              items: [
                {
                  href: "task-kick-off-meeting-edit",
                  text: "Change",
                  visuallyHiddenText: "Actual date"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Comments on decision to approve (if applicable)"
            },
            value: {
              html: currentProject.kickOffMeetingCommentsOnDecisionToApprove | displayText
            },
            actions: {
              items: [
                {
                  href: "task-kick-off-meeting-edit",
                  text: "Change",
                  visuallyHiddenText: "Comments on decision to approve (if applicable)"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "SharePoint link"
            },
            value: {
              html: currentProject.kickOffMeetingSharepointLink | displayText
            },
            actions: {
              items: [
                {
                  href: "task-kick-off-meeting-edit",
                  text: "Change",
                  visuallyHiddenText: "SharePoint link"
                }
              ]
            }
          }
        ]
      }) }}


      <form action="task-kick-off-meeting-confirmation" method="post">
        
      {{ govukCheckboxes({
        idPrefix: "task-kick-off-meeting-status",
        name: "task-kick-off-meeting-status",
        values: currentProject.taskKickOffMeetingStatus,
        items: [
        {
          value: "Complete",
          text: "Mark this section as complete, you can still make changes later"
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Confirm and continue"
      }) }}
        
      </form>

    </div>
  </div>


{% endblock %}
