{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Edit section 9 letter - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Edit section 9 letter
      </h1>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post" action="task-section-nine-letter-landing-page">
            <div class="govuk-form-group">

              {{ govukDateInput({
                id: "sectionNineLetterForecastDate",
                namePrefix: "sectionNineLetterForecastDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Forecast date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.sectionNineLetterForecastDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.sectionNineLetterForecastDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.sectionNineLetterForecastDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukDateInput({
                id: "sectionNineLetterActualDate",
                namePrefix: "sectionNineLetterActualDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Actual date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.sectionNineLetterActualDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.sectionNineLetterActualDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.sectionNineLetterActualDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukInput({
                id: "sectionNineLetterCommentsOnDecisionToApprove",
                name: "sectionNineLetterCommentsOnDecisionToApprove",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Comments on decision to approve (if applicable)",
                    classes: "govuk-heading-m"
                },
                value: currentProject.sectionNineLetterCommentsOnDecisionToApprove
              }) }}

              {{ govukInput({
                id: "sectionNineLetterSharepointLink",
                name: "sectionNineLetterSharepointLink",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Sharepoint link",
                    classes: "govuk-heading-m"
                },
                value: currentProject.sectionNineLetterSharepointLink
              }) }}

              <br><br>
              {{ govukButton({
                text: "Save and continue"
              }) }}

            </div>
          </form>

        </div>
      </div>


    </div>
  </div>
{% endblock %}
