{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Finance plan - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Finance plan
      </h1>

      {{ govukSummaryList({
        rows: currentProject | getFinancialPlanRowsSprint11
      }) }}

      <form action="task-financial-plan-confirmation" method="post">
        
      {{ govukCheckboxes({
        idPrefix: "task-financial-plan-status",
        name: "task-financial-plan-status",
        values: currentProject.taskFinancePlanStatus,
        items: [
        {
          value: "Complete",
          text: "Mark this section as complete, you can still make changes later"
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Confirm and continue"
      }) }}
        
      </form>

    </div>
  </div>


{% endblock %}
