{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
New RAG rating entry - Confirmation - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        RAG rating and summary updated
      </h1>
      <div class="govuk-panel__body">
        Entry date: <br><strong>15 November 2023</strong>
      </div>
    </div>

    <p>
      You can return to the <a class="govuk-link" href="project-overview-new-entry-added">project overview</a> or <a class="govuk-link" href="other-info-rag-rating-current-new-entry-added">RAG rating section</a>.
    </p>

  </div>
</div>

{% endblock %}
