{% extends "./layouts/main-mfsp-project-overview.html" %}
{% set currentProject = data['currentProject'] %}
{% set fssPageDesc = "About the project" %}
{% set bodyClasses = "mfsp-project-overview mfsp-wider-page" %}

{% block pageTitle %}
  {{currentProject.projectTitle}} - key project information - {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block pageContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="app-sub-navigation" aria-label="sub menu">
  
      <ul class="app-sub-navigation__list govuk-!-margin-top-6">
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link" aria-current="page" href="#">About the project</a>
        </li>
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link" href="project-task-list.html">Task list</a>
        </li>
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link" href="#">Project notes</a>
        </li>
      </ul>
  
    </nav>
  </div>
</div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full govuk-!-margin-top-5 govuk-!-margin-bottom-5">
      <h2 class="govuk-heading-l">Project details</h2>
    </div>

    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Dates</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Date of entry into pre-opening"
            },
            value: {
              html:  (currentProject.dateOfEntryIntoPreOpeningYear + currentProject.dateOfEntryIntoPreOpeningMonth + currentProject.dateOfEntryIntoPreOpeningDay) | displayDate | displayText
            }
          }
          ,
          {
            key: {
              text: "Provisional opening date agreed with trust"
            },
            value: {
              html: (currentProject.provisionalOpeningDateYear + currentProject.provisionalOpeningDateMonth + currentProject.provisionalOpeningDateDay) | displayDate | displayText
            }
          }
          ,
          {
            key: {
              text: "Opening academic year"
            },
            value: {
              html: (currentProject.openingAcademicStart + "/" + currentProject.openingAcademicEnd) | displayText
            }
          }
          ,
          {
            key: {
              text: "Realistic year of opening"
            },
            value: {
              html: (currentProject.realisticYearOfOpeningStart + "/" + currentProject.realisticYearOfOpeningEnd) | displayText
            }
          },
          {
            key: {
              text: "Actual opening date"
            },
            value: {
              html: (currentProject.actualOpeningDateYear + currentProject.actualOpeningDateMonth + currentProject.actualOpeningDateDay) | displayDate | displayText
            }
          }
        ]
      }) }}
    </div>

    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">School</h3>
      {{ govukSummaryList({
        
        rows: [
          {
            key: {
              text: "Current free school name"
            },
            value: {
              html: currentProject.projectTitle | displayText
            }
          },
          {
            key: {
              text: "School type"
            },
            value: {
              html: currentProject.schoolType | displayText
            }
          },
          {
            key: {
              text: "School phase"
            },
            value: {
              html: currentProject.schoolPhase | displayText
            }
          },
          {
            key: {
              text: "Faith Status"
            },
            value: {
              html: currentProject.faithStatus | displayText
            }
          },
          {
            key: {
              text: "Faith type"
            },
            value: {
              html: currentProject.faithType | displayText
            }
          }
        ]
      }) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Trust</h3>
      {{ govukSummaryList({
        
        rows: [
          {
            key: {
              text: "Trust ID"
            },
            value: {
              html: currentProject.trustID | displayText
            }
          }
          ,
          {
            key: {
              text: "Trust name"
            },
            value: {
              html: currentProject.trust | displayText
            }
          }
          ,
          {
            key: {
              text: "Trust type"
            },
            value: {
              html: currentProject.trustType | displayText
            }
          }
        ]
      }) }}
    </div>
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Region and local authority</h3>
      {{ govukSummaryList({
        
        rows: [
          {
            key: {
              text: "Local authority"
            },
            value: {
              html: currentProject.localAuthority | displayText
            }
          }
          ,
          {
            key: {
              text: "Region"
            },
            value: {
              html: currentProject.geographicalRegion | displayText
            }
          }
        ]
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Reference numbers</h3>
      {{ govukSummaryList({
        
        rows: [
          {
            key: {
              text: "Project ID"
            },
            value: {
              html: currentProject.projectID | displayText
            }
          }
          ,
          {
            key: {
              text: "URN"
            },
            value: {
              html: "" | displayText
            }
          },
          {
            key: {
              text: "Free schools application number"
            },
            value: {
              html: currentProject.freeSchoolsApplicationNumber | displayText
            }
          },
          {
            key: {
              text: "Application wave"
            },
            value: {
              html: currentProject.freeSchoolApplicationWave | displayText
            }
          },
          {
            key: {
              text: "Number of forms of entry"
            },
            value: {
              text: currentProject.numberOfFormsOfEntry | displayText
            }
          }
        ]
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l govuk-!-margin-top-9">Other information</h2>


      {{ govukSummaryList({
        card: {
          title: {
            text: "RAG rating and summary"
          },
          actions: {
            items: [
              {
                href: "other-info-rag-rating-current",
                text: "Change",
                visuallyHiddenText: "RAG rating and summary"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Date"
            },
            value: {
              html: "21 March 2023"
            }
          },
          {
            key: {
              text: "Overall RAG rating"
            },
            value: {
              html: "Amber Green" | displayRAGRating
            }
          },
          {
            key: {
              text: "Overall RAG summary"
            },
            value: {
              html: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis et ex ac egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. "
            }
          }
        ]
      }) }}


      {{ govukSummaryList({
        card: {
          title: {
            text: "Contacts"
          }
        },
        rows: [
          {
            key: {
              text: "FSG Lead Contact"
            },
            value: {
              html: currentProject.deliveryOfficer
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "FSG Lead Contact"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "FSG Team Leader"
            },
            value: {
              html: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "FSG Team Leader"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "FSG Grade 6"
            },
            value: {
              html: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "FSG Grade 6"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Project director"
            },
            value: {
              html: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Project director"
                }
              ]
            }
          }
        ]
      }) }}


      {{ govukSummaryList({
        card: {
          title: {
            text: "Site information"
          }
        },
        rows: [
          {
            key: {
              text: "Property"
            },
            value: {
              html: "Property content here"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Property"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Postcode"
            },
            value: {
              html: "W1A 1AA"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Postcode"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Pupil numbers and capacity"
          }
        },
        rows: [
          {
            key: {
              text: "Fields to be put here"
            },
            value: {
              html: "Content coming"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Fields to be put here"
                }
              ]
            }
          }
        ]
      }) }}

    </div>

  </div>
{% endblock %}
