{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Education brief and policies - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Education brief and policies
      </h1>

      {{ govukSummaryList({
        
        rows: [
          {
            key: {
              text: "DfE education adviser is content with"
            },
            value: currentProject.educationAdviserAgreement,
            actions: {
              items: [
                {
                  href: "task-education-brief-and-policies-edit",
                  text: "Change",
                  visuallyHiddenText: "DfE education adviser is content with"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Forecast date"
            },
            value: {
              html: currentProject | withDatePrefixed('educationBriefForecastDate') | displayDate
            },
            actions: {
              items: [
                {
                  href: "task-education-brief-and-policies-edit",
                  text: "Change",
                  visuallyHiddenText: "Forecast date"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Actual date"
            },
            value: {
              html: currentProject | withDatePrefixed('educationBriefActualDate') | displayDate
            },
            actions: {
              items: [
                {
                  href: "task-education-brief-and-policies-edit",
                  text: "Change",
                  visuallyHiddenText: "Actual date"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Comments on decision to approve (if applicable)"
            },
            value: {
              html: currentProject.educationBriefCommentsOnDecisionToApprove | displayText
            },
            actions: {
              items: [
                {
                  href: "task-education-brief-and-policies-edit",
                  text: "Change",
                  visuallyHiddenText: "Comments on decision to approve (if applicable)"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "SharePoint link"
            },
            value: {
              html: currentProject.educationBriefSharepointLink | displayText
            },
            actions: {
              items: [
                {
                  href: "task-education-brief-and-policies-edit",
                  text: "Change",
                  visuallyHiddenText: "SharePoint link"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="project-task-list" method="post">
        
      {{ govukCheckboxes({
        idPrefix: "task-education-brief-and-policies-status",
        name: "task-education-brief-and-policies-status",
        values: currentProject.taskEducationBriefStatus,
        items: [
        {
          value: "Complete",
          text: "Mark this section as complete, you can still make changes later"
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Confirm and continue"
      }) }}
        
      </form>

    </div>
  </div>
{% endblock %}
