{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
Edit final revenue funding plan - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Edit final revenue funding plan
      </h1>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post" action="task-final-revenue-funding-plan-landing-page">
            <div class="govuk-form-group">

              {{ govukRadios({
                name: "finalRevenueFundingPlanAgreed",
                fieldset: {
                  legend: {
                    text: "Final revenue funding plan agreed, based on latest confirmed accepted place offers",
                    classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-6"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: checked("currentProject.finalRevenueFundingPlanAgreed", "Yes")
                  },
                  {
                    value: "No",
                    text: "No",
                    checked: checked("currentProject.finalRevenueFundingPlanAgreed", "No")
                  }
                ]
              }) }}

              {{ govukDateInput({
                id: "finalRevenueFundingPlanForecastDate",
                namePrefix: "finalRevenueFundingPlanForecastDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Forecast date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.finalRevenueFundingPlanForecastDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.finalRevenueFundingPlanForecastDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.finalRevenueFundingPlanForecastDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukDateInput({
                id: "finalRevenueFundingPlanActualDate",
                namePrefix: "finalRevenueFundingPlanActualDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Actual date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.finalRevenueFundingPlanActualDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.finalRevenueFundingPlanActualDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.finalRevenueFundingPlanActualDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukInput({
                id: "finalRevenueFundingPlanCommentsOnDecisionToApprove",
                name: "finalRevenueFundingPlanCommentsOnDecisionToApprove",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Comments on decision to approve (if applicable)",
                    classes: "govuk-heading-m"
                },
                value: currentProject.finalRevenueFundingPlanCommentsOnDecisionToApprove
              }) }}

              {{ govukInput({
                id: "finalRevenueFundingPlanSharepointLink",
                name: "finalRevenueFundingPlanSharepointLink",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Sharepoint link",
                    classes: "govuk-heading-m"
                },
                value: currentProject.finalRevenueFundingPlanSharepointLink
              }) }}

              <br><br>
              {{ govukButton({
                text: "Save and continue"
              }) }}

            </div>
          </form>

        </div>
      </div>


    </div>
  </div>
{% endblock %}
