{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Final governance plan - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Final governance plan
      </h1>

      {{ govukSummaryList({
        
        rows: [
          {
            key: {
              text: "Final governance plan agreed"
            },
            value: {
              html: currentProject.finalGovernancePlanAgreed | displayText
            },
            actions: {
              items: [
                {
                  href: "task-final-governance-plan-edit",
                  text: "Change",
                  visuallyHiddenText: "Final governance plan agreed"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Forecast date"
            },
            value: {
              html: currentProject | withDatePrefixed('finalGovernancePlanForecastDate') | displayDate
            },
            actions: {
              items: [
                {
                  href: "task-final-governance-plan-edit",
                  text: "Change",
                  visuallyHiddenText: "Forecast date"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Actual date"
            },
            value: {
              html: currentProject | withDatePrefixed('finalGovernancePlanActualDate') | displayDate
            },
            actions: {
              items: [
                {
                  href: "task-final-governance-plan-edit",
                  text: "Change",
                  visuallyHiddenText: "Actual date"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Comments on decision to approve (if applicable)"
            },
            value: {
              html: currentProject.finalGovernancePlanCommentsOnDecisionToApprove | displayText
            },
            actions: {
              items: [
                {
                  href: "task-final-governance-plan-edit",
                  text: "Change",
                  visuallyHiddenText: "Comments on decision to approve (if applicable)"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "SharePoint link"
            },
            value: {
              html: currentProject.finalGovernancePlanSharepointLink | displayText
            },
            actions: {
              items: [
                {
                  href: "task-final-governance-plan-edit",
                  text: "Change",
                  visuallyHiddenText: "SharePoint link"
                }
              ]
            }
          }
        ]
      }) }}


      <form action="task-final-governance-plan-confirmation" method="post">
        
      {{ govukCheckboxes({
        idPrefix: "task-final-governance-plan-status",
        name: "task-final-governance-plan-status",
        values: currentProject.taskFinalGovernancePlanStatus,
        items: [
        {
          value: "Complete",
          text: "Mark this section as complete, you can still make changes later"
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Confirm and continue"
      }) }}
        
      </form>

    </div>
  </div>
{% endblock %}
