{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Search for a trust by trust ID - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Search for a trust by trust ID
      </h1>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post" action="task-trust-edit-confirm">
            <div class="govuk-form-group">

              {{ govukInput({
                id: "trustID",
                name: "trustID",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Trust ID",
                    classes: "govuk-heading-m"
                },
                hint: {
                  text: "For example, TR00036"
                },
                value: currentProject.trustID
              }) }}
              

              <br><br>
              {{ govukButton({
                text: "Continue"
              }) }}

            </div>
          </form>

        </div>
      </div>


    </div>
  </div>
{% endblock %}
