{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Confirm the trust - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Confirm the trust
      </h1>
      

      {% if data["trustID"] == "123456" %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">0 result for "123456"</h2>

          <p class="govuk-body">
            Check the spelling of the trust name.
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>TRN (trust reference number) or Group ID - TR00036</li>
          </ul>
          <p class="govuk-body">
            Search the trust again by going back to <a href="task-trust-edit">the previous page</a>. 
          </p>
        </div>
      </div>
      
      
      {% else %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post" action="validate-trust-result">
            <div class="govuk-form-group">

              {{ govukSummaryList({

                classes: "govuk-summary-list--no-border",
                rows: [
                  {
                    key: {
                      text: "TRN (trust reference number) "
                    },
                    value: {
                      text: data["trustID"]
                    }
                  },        
                  {
                    key: {
                      text: "Trust name"
                    },
                    value: {
                      html: "United Learning Trust"
                    }
                  },
                  {
                    key: {
                      text: "Trust type"
                    },
                    value: {
                      html: "Multi-academy trust"
                    }
                  }
                ]
              }) }}
              
              {{ govukRadios({
                idPrefix: "confirm-trust-result",
                name: "confirm-trust-result",
                fieldset: {
                  legend: {
                    text: "Is this the correct trust?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    checked: checked("confirm-trust-result", "Yes"),
                    text: "Yes"
                  },
                  {
                    value: "No",
                    checked: checked("confirm-trust-result", "No"),
                    text: "No, search again"
                  }
    
                ]
              }) }}


              <br><br>
              {{ govukButton({
                text: "Continue"
              }) }}

            </div>
          </form>

        </div>
      </div>

      {% endif %}

    </div>
  </div>
{% endblock %}
