{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
New risk rating entry - Education - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}} - new risk rating entry</span>
        Education (optional)
      </h1>

    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <form class="form" action="other-info-new-rag-rating-check-your-answers" method="post">
        <input hidden type="text" name="returnToSummary" value="no"/>

        {{ govukRadios({
          idPrefix: "newRiskRatingEducation",
          name: "newRiskRatingEducation",
          classes: "govuk-!-margin-bottom-6",
          fieldset: {
            legend: {
              html: 'Risk rating',
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l govuk-!-font-size-27 govuk-!-margin-bottom-6"
            }
          },
          items: [
            {
              value: "Green",
              checked: checked("newRiskRatingEducation", "Green"),
              html: "Green" | displayRAGRating
            },
            {
              value: "Amber Green",
              checked: checked("newRiskRatingEducation", "Amber Green"),
              html: "Amber Green" | displayRAGRating
            },
            {
              value: "Amber Red",
              checked: checked("newRiskRatingEducation", "Amber Red"),
              html: "Amber Red" | displayRAGRating
            },
            {
              value: "Red",
              checked: checked("newRiskRatingEducation", "Red"),
              html: "Red" | displayRAGRating
            }

          ]
        }) }} 

        {{ govukTextarea({
          name: "newRiskRatingEducationSummary",
          id: "newRiskRatingEducationSummary",
          label: {
              text: "Risk summary",
              classes: "govuk-label--l govuk-!-font-size-27 govuk-!-margin-bottom-6",
              isPageHeading: false
          },
          value: data['newRiskRatingEducationSummary']
        }) }}
      
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

  </div>
</div>

{% endblock %}
