{% extends "./main.html" %}

{% block main %}

<div class="dfe-content-page--header">
  <div class="dfe-width-container ">
    <div class="govuk-grid-row ">
      <div class="govuk-grid-column-three-quarters">
        {{ govukBackLink({
          text: "Back to all projects",
          href: "projects-listing-all-projects"
        }) }}
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-5 govuk-!-padding-bottom-0">
      <div class="govuk-grid-column-three-quarters">
        <span class="govuk-body-s">Project ID: {{currentProject.projectID}}</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ currentProject.projectTitle }}</h1>
        <p class="govuk-!-font-size-27 govuk-!-font-weight-bold">{{ fssPageDesc }}</p>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-full">
      </div>
    </div>
  </div>
</div>

<div class="govuk-main-wrapper ">
  <div class="govuk-width-container">
  
      <main id="main-content">
        {% block pageContent %}{% endblock %}

        {% block pageContentColumnOverride %}{% endblock %}
      </main>
  </div>
</div>

{% endblock %}