{% extends "./layouts/main-mfsp-internal.html" %}
{% set fssPageTitle = "Your free school projects" %}
{% set bodyClasses = "mfsp-wider-page" %}

{% block pageTitle %}
Your free school projects – {{ serviceName }}
{% endblock %}

{% block header %}
  {{ header({
    "showNav": "true",
    "showSearch": "false",
    "showUserName": "true",
    "userName": "Sign out",
    "userNameURL": "",
    "selectedNav": "Your projects",
    "logoPath": "public/images",
    "homeHref": "/",
    "service": {
      "name": serviceName
    },
    "primaryLinks": [
      {
        "url"  : "#",
        "label" : "Your projects"
      }, {
        "url"  : "projects-listing-all-projects?dashboardSearch=&filter-regions&filter-la",
        "label" : "All projects"
      }
    ]
  })
}}

{% endblock %}

{% block pageContent %}

{% macro tag(status) %}
  {% if status == "In progress" %}
    govuk-tag--blue
  {% elif status == "Not started" %}
    govuk-tag--grey
  {% elif status == "Completed" %}
    govuk-tag--green
  {% elif status == "Withdrawn" %}
    govuk-tag--orange
  {% elif status == "Cancelled" %}
    govuk-tag--red
  {% elif status == "Deferred" %}
    govuk-tag--yellow
  {% else %}
  {% endif %}
{% endmacro%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if data['userRole'] == "School places analysis team" %}
      <p class="govuk-body govuk-!-margin-top-3">You can add new projects by using the button below.</p>
      {{ govukButton({
        text: "Create new projects",
        classes: "govuk-!-margin-bottom-6",
        href: "create-new-project",
        isStartButton: false
      }) }}
      {% endif %}

      {% if data['dashboardSearch'] == "" %}
      <details class="govuk-details mfsp-project-listing__filters-container" data-module="govuk-details">
      {% else %}
      <details class="govuk-details mfsp-project-listing__filters-container" data-module="govuk-details" open>
      {% endif %}
        <summary class="govuk-details__summary mfsp-project-listing__fitlers-details-summary">
          <span class="govuk-details__summary-text govuk-button govuk-button--secondary mfsp-project-listing__button--main">
            Filter projects
          </span>
        </summary>
        <div class="govuk-details__text mfsp-project-listing__filters-details">
          <form method="get" class="form">
  
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                  <div class="govuk-form-group">
                    <h2 class="govuk-label-wrapper">
                      <label class="govuk-label govuk-label--m" for="dashboardSearch">
                        Project title or ID
                      </label>
                    </h2>
                    <div id="dashboardSearch-hint" class="govuk-hint">
                      For example, St George’s Primary School or 193323.
                    </div>
                    <input class="govuk-input" id="dashboardSearch" name="dashboardSearch" type="text" value="{{ data['dashboardSearch'] }}">
                  </div>
              </div>
  
              <div class="govuk-grid-column-one-quarter">
                {{ govukCheckboxes({
                  idPrefix: "filter-regions",
                  name: "filter-regions",
                  classes: "govuk-checkboxes--small mfsp-project-listing__filter",
                  fieldset: {
                    legend: {
                      text: "Regions",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  hint: {
                    text: "Select all that apply."
                  },
                  items: [
                    {
                      value: "East Midlands",
                      text: "East Midlands",
                      checked: checked("filter-regions", "East Midlands")
                    },
                    {
                      value: "East of England",
                      text: "East of England",
                      checked: checked("filter-regions", "East of England")
                    },
                    {
                      value: "London",
                      text: "London",
                      checked: checked("filter-regions", "London")
                    },
                    {
                      value: "North East",
                      text: "North East",
                      checked: checked("filter-regions", "North East")
                    },
                    {
                      value: "North West",
                      text: "North West",
                      checked: checked("filter-regions", "North West")
                    },
                    {
                      value: "South East",
                      text: "South East",
                      checked: checked("filter-regions", "South East")
                    },
                    {
                      value: "South West",
                      text: "South West",
                      checked: checked("filter-regions", "South West")
                    },
                    {
                      value: "West Midlands",
                      text: "West Midlands",
                      checked: checked("filter-regions", "West Midlands")
                    },
                    {
                      value: "Yorkshire and the Humber",
                      text: "Yorkshire and the Humber",
                      checked: checked("filter-regions", "Yorkshire and the Humber")
                    }
                  ]
                }) }}
              </div>
  
              <div class="govuk-grid-column-one-quarter">
                {{ govukCheckboxes({
                  idPrefix: "filter-la",
                  name: "filter-la",
                  classes: "govuk-checkboxes--small mfsp-project-listing__filter id-filter-la",
                  fieldset: {
                    legend: {
                      text: "Local Authority",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  hint: {
                    text: "Select all that apply."
                  },
                  items: [
                    {
                      divider: "Please select Region"
                    }
                  ]
                }) }}
              </div>
  
              <div class="govuk-grid-column-one-quarter">
              </div>
  
            </div>
  
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <div class="govuk-button-group">
                  <button class="govuk-button govuk-button--secondary mfsp-project-listing__button--apply" data-module="govuk-button ">
                    Apply filters
                  </button>
                
                  <a class="govuk-link" href="projects-listing-your-projects?dashboardSearch=&filter-regions&filter-la">Clear filters</a>
                </div>
              </div>
            </div>
  
          </form>
        </div>
      </details>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-1">Project title</th>
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-2">Project ID</th>
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-3">Trust</th>
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-4">Region</th>
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-5">Local authority</th>
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-7">Provisional opening date</th>
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-8">Status</th>
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-9">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for project in data['project-list'] %}
          {% if data['userName'] == project.deliveryOfficer %}
          {% if data['dashboardSearch'].toLowerCase() in project.projectTitle.toLowerCase() or data['dashboardSearch'].toLowerCase() in project.projectID.toLowerCase() %}
          {% if not data['filter-regions'] or project.geographicalRegion in data['filter-regions'] %}
          {% if not data['filter-la'] or project.localAuthority in data['filter-la'] %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{project.projectTitle}}</th>
              <td class="govuk-table__cell">{{project.projectID}}</td>
              <td class="govuk-table__cell">{{project.trust}}</td>
              <td class="govuk-table__cell">{{project.geographicalRegion}}</td>
              <td class="govuk-table__cell">{{project.localAuthority}}</td>
              <td class="govuk-table__cell">
                {% if project.provisionalOpeningDateDay and 
                  project.provisionalOpeningDateMonth and 
                  project.provisionalOpeningDateYear %}
    
                  {% set provisionalOpeningDate = project.provisionalOpeningDateYear + project.provisionalOpeningDateMonth + project.provisionalOpeningDateDay  %}
    
                  {{ provisionalOpeningDate | displayDate }}
                  {% else %} 
                  <span class="empty">Empty</span>
                {% endif %}
              </td>
              <td class="govuk-table__cell"><strong class="govuk-tag {{ tag(project.status) }}">{{project.status}}</strong></td>
              <td class="govuk-table__cell"><a href="p-o?id={{project.projectID}}" class="govuk-link">View</a></td>
            </tr>
          {% endif %}
          {% endif %}
          {% endif %}
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <div name="hiddenData" hidden>
        {% for la in data['filter-la'] %}
          <ul>
            <li class="data-selected-la">{{la}}</li>
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
  {% block pageScripts %}
      <script src="/public/javascripts/regionfilter.js"></script>
  {% endblock %}

{% endblock %}
