{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Edit dates - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Edit dates
      </h1>
      
      <form method="post"  action="task-dates-landing-page">
        <div class="govuk-form-group">

          {{ govukDateInput({
            id: "dateOfEntryIntoPreOpening",
            namePrefix: "dateOfEntryIntoPreOpening",
            fieldset: {
              legend: {
                text: "Date of entry into pre-opening",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 27 3 2021"
            },
            items: [
              {
                name: "day",
                value: currentProject.dateOfEntryIntoPreOpeningDay,
                classes: "govuk-input--width-2"
              },
              {
                name: "month",
                value: currentProject.dateOfEntryIntoPreOpeningMonth,
                classes: "govuk-input--width-2"
              },                
              {
                name: "year",
                value: currentProject.dateOfEntryIntoPreOpeningYear,
                classes: "govuk-input--width-4"
              }
            ]
          }) }}

          {{ govukDateInput({
            id: "realisticYearOfOpening",
            namePrefix: "realisticYearOfOpening",
            fieldset: {
              legend: {
                text: "Realistic year of opening",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 2021"
            },
            items: [               
            {
              name: "start year",                  
              value: currentProject.realisticYearOfOpeningStart,
              classes: "govuk-input--width-4"
            },
            {
              name: "end year",                  
              value: currentProject.realisticYearOfOpeningEnd,
              classes: "govuk-input--width-4"
            }
          ]
          }) }}

          {{ govukDateInput({
            id: "provisionalOpeningDate",
            namePrefix: "provisionalOpeningDate",
            fieldset: {
              legend: {
                text: "Provisional opening date agreed with trust",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 27 3 2021"
            },
            items: [
            {
              name: "day",
              value: currentProject.provisionalOpeningDateDay,
              classes: "govuk-input--width-2"
            },
            {
              name: "month",
              value: currentProject.provisionalOpeningDateMonth,
              classes: "govuk-input--width-2"
            },                
            {
              name: "year",                  
              value: currentProject.provisionalOpeningDateYear,
              classes: "govuk-input--width-4"
            }
          ]
          }) }}

          {{ govukDateInput({
            id: "actualOpeningDate",
            namePrefix: "actualOpeningDate",
            fieldset: {
              legend: {
                text: "Actual opening date",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 27 3 2021"
            },
            items: [
            {
              name: "day",
              value: currentProject.actualOpeningDateDay,
              classes: "govuk-input--width-2"
            },
            {
              name: "month",
              value: currentProject.actualOpeningDateMonth,
              classes: "govuk-input--width-2"
            },                
            {
              name: "year",                  
              value: currentProject.actualOpeningDateYear,
              classes: "govuk-input--width-4"
            }
          ]
          }) }}
          
          {{ govukDateInput({
            id: "openingAcademic",
            namePrefix: "openingAcademic",
            fieldset: {
              legend: {
                text: "Opening academic year",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 2021"
            },
            items: [               
            {
              name: "year",                  
              value: currentProject.openingAcademic,
              classes: "govuk-input--width-4"
            }
          ]
          }) }}

          {{ govukDateInput({
            id: "startOfTermDate",
            namePrefix: "startOfTermDate",
            fieldset: {
              legend: {
                text: "Start of term date",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 27 3 2021"
            },
            items: [
            {
              name: "day",
              value: currentProject.startOfTermDateDay,
              classes: "govuk-input--width-2"
            },
            {
              name: "month",
              value: currentProject.startOfTermDateMonth,
              classes: "govuk-input--width-2"
            },                
            {
              name: "year",                  
              value: currentProject.startOfTermDateYear,
              classes: "govuk-input--width-4"
            }
          ]
          }) }}

          {{ govukDateInput({
            id: "provisionalKickOffMeetingDate",
            namePrefix: "provisionalKickOffMeetingDate",
            fieldset: {
              legend: {
                text: "Provisional kick-off meeting date",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 27 3 2021"
            },
            items: [
            {
              name: "day",
              value: currentProject.provisionalKickOffMeetingDateDay,
              classes: "govuk-input--width-2"
            },
            {
              name: "month",
              value: currentProject.provisionalKickOffMeetingDateMonth,
              classes: "govuk-input--width-2"
            },                
            {
              name: "year",                  
              value: currentProject.provisionalKickOffMeetingDateYear,
              classes: "govuk-input--width-4"
            }
          ]
          }) }}

          {{ govukDateInput({
            id: "actualKickOffMeetingDate",
            namePrefix: "actualKickOffMeetingDate",
            fieldset: {
              legend: {
                text: "Actual kick-off meeting date",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 27 3 2021"
            },
            items: [
            {
              name: "day",
              value: currentProject.actualKickOffMeetingDateDay,
              classes: "govuk-input--width-2"
            },
            {
              name: "month",
              value: currentProject.actualKickOffMeetingDateMonth,
              classes: "govuk-input--width-2"
            },                
            {
              name: "year",                  
              value: currentProject.actualKickOffMeetingDateYear,
              classes: "govuk-input--width-4"
            }
          ]
          }) }}

          <br><br>
          {{ govukButton({
            text: "Save and continue"
          }) }}

        </div>
      </form>


    </div>
  </div>
{% endblock %}
