{% extends "./layouts/main.html" %}

{% block pageTitle %}
  Check your answers - Create new free school projects – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Current free school name"
            },
            value: {
              text: data["create-new-fss-school-name"]
            },
            actions: {
              items: [
                {
                  href: "create-new-fss-school-name",
                  text: "Change",
                  visuallyHiddenText: "School name"
                }
              ]
            }
          }          
          ,
          {
            key: {
              text: "Geographical region"
            },
            value: {
              text: data["create-new-fss-region"]
            },
            actions: {
              items: [
                {
                  href: "create-new-fss-regions",
                  text: "Change",
                  visuallyHiddenText: "Geographical region"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Local authority"
            },
            value: {
              text: data["create-new-fss-local-authority"]
            },
            actions: {
              items: [
                {
                  href: "create-new-fss-local-authority",
                  text: "Change",
                  visuallyHiddenText: "Local authority"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Provisional opening date agreed with trust"
            },
            value: {
              text: data["create-new-fss-provisional-opening-date"]
            }
          }
          ,
          {
            key: {
              text: "Constituency"
            },
            value: {
              text: data["create-new-fss-local-authority"]
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Constituency"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Constituency MP"
            },
            value: {
              text: data["create-new-fss-constituency-mp"]
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Constituency MP"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Number of forms of entry"
            },
            value: {
              text: data["create-new-fss-number-of-forms-of-entry"]
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Number of forms of entry"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "School type"
            },
            value: {
              text: data["create-new-fss-school-type"]
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "School type"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Temporary project ID"
            },
            value: {
              text: data["create-new-fss-project-id"]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="add-project" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
