{% extends "./layouts/main-fss-internal.html" %}
{% set fssPageTitle = "Free schools store projects" %}
{% set fssPageDesc = "Here is a list of all free school application projects." %}
{% set bodyClasses = "mfsp-wider-page" %}

{% block pageTitle %}
Free schools store projects – {{ serviceName }}
{% endblock %}

{% block pageContent %}

{% macro tag(status) %}
  {% if status == "In progress" %}
    govuk-tag--blue
  {% elif status == "Not started" %}
    govuk-tag--grey
  {% elif status == "Opened" %}
    govuk-tag--green
  {% else %}
  {% endif %}
{% endmacro%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if data['userRole'] == "School places analysis team" %}
      <p class="govuk-body govuk-!-margin-top-3">You can add new projects by using the button below.</p>
      {{ govukButton({
        text: "Create new projects",
        classes: "govuk-!-margin-bottom-9",
        href: "create-new-fss",
        isStartButton: false
      }) }}
      {% endif %}

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">All projects</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-1">Project title</th>
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-2">Project ID</th>
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-3">Lead applicant</th>
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-4">Local authority</th>
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-5">Delivery officer</th>
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-6">Opening date</th>
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-7">Status</th>
            <th scope="col" class="govuk-table__header mfsp-dashboard-table__col-8">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for project in data['project-list'] %}
          {% if (data['userRole'] != 'Delivery officer' or data['userName'] == project.deliveryOfficer) %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{project.projectTitle}}</th>
              <td class="govuk-table__cell">{{project.projectID}}</td>
              <td class="govuk-table__cell">{{project.leadApplicant}}</td>
              <td class="govuk-table__cell">{{project.localAuthority}}</td>
              <td class="govuk-table__cell">{{project.deliveryOfficer}}</td>
              <td class="govuk-table__cell">{{project.openingDate}}</td>
              <td class="govuk-table__cell"><strong class="govuk-tag {{ tag(project.status) }}">{{project.status}}</strong></td>
              <td class="govuk-table__cell"><a href="p-o?id={{project.projectID}}" class="govuk-link">View</a></td>
            </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
