{% extends "./layouts/main-fss-project-overview.html" %}
{% set currentProject = data['currentProject'] %}
{% set fssPageDesc = "Project overview" %}
{% set bodyClasses = "fss-wider-page" %}

{% block pageTitle %}
  {{currentProject.projectTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      Sidebar goes here
    </div>
    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-l">Key project information</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Current free school name"
            },
            value: {
              text: currentProject.projectTitle
            }
          }          
          ,
          {
            key: {
              text: "Geographical region"
            },
            value: {
              text: currentProject.geographicalRegion
            }
          }
          ,
          {
            key: {
              text: "Local authority"
            },
            value: {
              text: currentProject.localAuthority
            }
          }
          ,
          {
            key: {
              text: "Lead applicant"
            },
            value: {
              text: currentProject.leadApplicant
            }
          }
          ,
          {
            key: {
              text: "Provisional opening date agreed with trust"
            },
            value: {
              text: currentProject.openingDate
            }
          }
          ,
          {
            key: {
              text: "Constituency"
            },
            value: {
              text: currentProject.localAuthority
            }
          }
          ,
          {
            key: {
              text: "Constituency MP"
            },
            value: {
              text: ""
            }
          }
          ,
          {
            key: {
              text: "Number of forms of entry"
            },
            value: {
              text: currentProject.numberOfFormsOfEntry
            }
          }
          ,
          {
            key: {
              text: "School type"
            },
            value: {
              text: currentProject.schoolType
            }
          }
          ,
          {
            key: {
              text: "Temporary project ID"
            },
            value: {
              text: currentProject.projectID
            }
          }
        ]
      }) }}


    </div>
  </div>
{% endblock %}
