{% extends "layouts/main.html" %}

{% block pageTitle %}
  Prototype home – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      {{ serviceName }}
    </h1>

  </div>

  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="alpha-sprint-3">
      Alpha sprint 3
    </h2>

    <p>More details are added to the sprint 3 prototype, including:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Check your answers page for creating new projects</li>
    </ul>

    <h3 class="govuk-heading-m">
      Presumption route - conservative approach
    </h3>
    <p>This is a prototype to validate the ideas of replacing the current FSS by new FSS without changing the current work process for delivery officers.</p>

    <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 1: Team leader</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Zara Laney</li>
      <li>Team leader</li>
      <li>North West</li>
      <li>Can see all projects</li>
      <li>Cannot add new projects</li>
      <li><a class="govuk-link" href="alpha-sprint-3/?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Log in as a Team leader (before a new project is received)</a></li>
      <li><a class="govuk-link" href="alpha-sprint-3/dashboard.html?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Dashboard (before a new project is received)</a></li>
      <li><a class="govuk-link" href="alpha-sprint-3/dashboard-after.html?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Dashboard (after a new project is received)</a></li>
    </ul>

    <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 2: SPA team member</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Step Park</li>
      <li>School places analysis team</li>
      <li>North West</li>
      <li>Can see all projects</li>
      <li>Can add new projects</li>
      <li><a class="govuk-link" href="alpha-sprint-3/?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Log in as a School places analysis team member (before a new project is received)</a></li>
      <li><a class="govuk-link" href="alpha-sprint-3/dashboard.html?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Dashboard (before a new project is received)</a></li>
      <li><a class="govuk-link" href="alpha-sprint-3/dashboard-after.htm?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Dashboard (after a new project is received)</a></li>
    </ul>

    <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 3: Delivery officer</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Alex James</li>
      <li>Delivery officer</li>
      <li>North West</li>
      <li>Can see their own projects only</li>
      <li>Cannot add new projects</li>
      <li><a class="govuk-link" href="alpha-sprint-3/?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Log in as a Delivery officer (before a new project is received)</a></li>
      <li><a class="govuk-link" href="alpha-sprint-3/dashboard.html?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Dashboard (before a new project is received)</a></li>
      <li><a class="govuk-link" href="alpha-sprint-3/dashboard-after.html?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Dashboard (after a new project is received)</a></li>
    </ul>
    
    <h3 class="govuk-heading-m">
      Presumption route - disruptive approach
    </h3>
    <p>This is a prototype to validate the ideas of introducing an external upload tool for applicants to submit new school application.</p>
    <p>Prototype to be added.</p>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="alpha-sprint-2">
      Alpha sprint 2
    </h2>

    <h3 class="govuk-heading-m">
      Presumption route - conservative approach
    </h3>
    <p>This is a prototype to validate the ideas of replacing the current FSS by new FSS without changing the current work process for delivery officers.</p>

    <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 1: Team leader</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Zara Laney</li>
      <li>Team leader</li>
      <li>North West</li>
      <li>Can see all projects</li>
      <li>Cannot add new projects</li>
      <li><a class="govuk-link" href="alpha-sprint-2/?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Log in as a Team leader (before a new project is received)</a></li>
      <li><a class="govuk-link" href="alpha-sprint-2/dashboard.html?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Dashboard (before a new project is received)</a></li>
      <li><a class="govuk-link" href="alpha-sprint-2/dashboard-after.html?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Dashboard (after a new project is received)</a></li>
    </ul>

    <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 2: SPA team member</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Step Park</li>
      <li>School places analysis team</li>
      <li>North West</li>
      <li>Can see all projects</li>
      <li>Can add new projects</li>
      <li><a class="govuk-link" href="alpha-sprint-2/?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Log in as a School places analysis team member (before a new project is received)</a></li>
      <li><a class="govuk-link" href="alpha-sprint-2/dashboard.html?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Dashboard (before a new project is received)</a></li>
      <li><a class="govuk-link" href="alpha-sprint-2/dashboard-after.htm?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Dashboard (after a new project is received)</a></li>
    </ul>

    <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 3: Delivery officer</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Alex James</li>
      <li>Delivery officer</li>
      <li>North West</li>
      <li>Can see their own projects only</li>
      <li>Cannot add new projects</li>
      <li><a class="govuk-link" href="alpha-sprint-2/?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Log in as a Delivery officer (before a new project is received)</a></li>
      <li><a class="govuk-link" href="alpha-sprint-2/dashboard.html?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Dashboard (before a new project is received)</a></li>
      <li><a class="govuk-link" href="alpha-sprint-2/dashboard-after.html?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Dashboard (after a new project is received)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  </div>

</div>

{% endblock %}
