{% extends "layouts/main.html" %}
{% set bodyClasses = "mfsp-wider-page" %}

{% block pageTitle %}
  Prototype home – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      {{ serviceName }}
    </h1>
    <p class="govuk-body-l">Home of the Manage free school projects prototype.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" style="border-top: 1px solid #b1b4b6; padding-top: 30px;">

    <h2 class="govuk-heading-l" id="beta-sprint-9">
      Beta sprint 9
    </h2>

    <div class="mfsp-index-card">
      <p>This is the prototype for beta sprint 9.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>To be added</li>
      </ul>
    </div>

    <h3 class="govuk-heading-m">
      The conservative approach
    </h3>
    <p>This is a prototype to validate the ideas of replacing the current FSS by Manage free school projects without changing the current work process for delivery officers.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 1: Team leader</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Zara Laney</li>
          <li>Team leader</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-9/?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Log in as a Team leader</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 2: Delivery officer</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Alex James</li>
          <li>Delivery officer</li>
          <li>North West</li>
          <li>Can see their own projects at the top and then other projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-9/?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Log in as a Delivery officer</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 3: SPA team member</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Step Park</li>
          <li>School places analysis team</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Can add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-9/?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Log in as a School places analysis team member</a></li>
        </ul>
      </div>
    </div>

    <p>Shortcuts to different version of About the project page.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="beta-sprint-9/p-o?id=W3456&userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Original version</a></li>
      <li><a class="govuk-link" href="beta-sprint-9/project-overview-v2?id=W3456&userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Version 2</a></li>
      <li><a class="govuk-link" href="beta-sprint-9/project-overview-v3?id=W3456&userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Version 3</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="beta-sprint-7">
      Beta sprints 7 & 8
    </h2>

    <div class="mfsp-index-card">
      <p>This is the prototype for beta sprints 7 & 8.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>'Rag' acronym changed to 'risk' to be consistent with other RSD products</li>
        <li>Updated summary row labels for Contacts section in About the project</li>
        <li>Yellow tag replaced with custom amber tag in risk journey</li>
        <li>Added most of the tasks to the task list, except PDG, Governors and Financial plan</li>
        <li>Added hint text to RAF (risk appraisal form) page</li>
        <li>Updated the constituency journey in task list</li>
      </ul>
    </div>

    <h3 class="govuk-heading-m">
      The conservative approach
    </h3>
    <p>This is a prototype to validate the ideas of replacing the current FSS by Manage free school projects without changing the current work process for delivery officers.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 1: Team leader</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Zara Laney</li>
          <li>Team leader</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-7/?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Log in as a Team leader</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 2: Delivery officer</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Alex James</li>
          <li>Delivery officer</li>
          <li>North West</li>
          <li>Can see their own projects at the top and then other projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-7/?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Log in as a Delivery officer</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 3: SPA team member</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Step Park</li>
          <li>School places analysis team</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Can add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-7/?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Log in as a School places analysis team member</a></li>
        </ul>
      </div>
    </div>

    <p>Shortcuts to different version of About the project page.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="beta-sprint-7/p-o?id=W3456&userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Original version</a></li>
      <li><a class="govuk-link" href="beta-sprint-7/project-overview-v2?id=W3456&userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Version 2</a></li>
      <li><a class="govuk-link" href="beta-sprint-7/project-overview-v3?id=W3456&userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Version 3</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="beta-sprint-5">
      Beta sprints 5 & 6
    </h2>

    <div class="mfsp-index-card">
      <p>This is the prototype for beta sprints 5 & 6.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Updated the trust task so the page allows users to search a trust again.</li>
        <li>The task Risk appraisal is repurposed as Risk appraisal meeting.</li>
        <li>RAG editing and adding functions are added.</li>
        <li>Project overview changed to About the project.</li>
        <li>Key project information changed to Project details.</li>
        <li>Delivery officer changed to Project managed by.</li>
        <li>Removed baseline dates from all tasks.</li>
        <li>RAG rating blocks are added to the bottom of the four milestone pages.</li>
        <li>Added alternative design of About the project pages.</li>
        <li>Edited Create new projects page wording.</li>
      </ul>
    </div>

    <h3 class="govuk-heading-m">
      The conservative approach
    </h3>
    <p>This is a prototype to validate the ideas of replacing the current FSS by Manage free school projects without changing the current work process for delivery officers.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 1: Team leader</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Zara Laney</li>
          <li>Team leader</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-5/?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Log in as a Team leader</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 2: Delivery officer</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Alex James</li>
          <li>Delivery officer</li>
          <li>North West</li>
          <li>Can see their own projects at the top and then other projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-5/?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Log in as a Delivery officer</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 3: SPA team member</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Step Park</li>
          <li>School places analysis team</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Can add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-5/?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Log in as a School places analysis team member</a></li>
        </ul>
      </div>
    </div>

    <p>Shortcuts to different version of About the project page.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="beta-sprint-5/p-o?id=W3456&userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Original version</a></li>
      <li><a class="govuk-link" href="beta-sprint-5/project-overview-v2?id=W3456&userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Version 2</a></li>
      <li><a class="govuk-link" href="beta-sprint-5/project-overview-v3?id=W3456&userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Version 3</a></li>
    </ul>



    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    <h2 class="govuk-heading-l" id="beta-sprint-2">
      Beta sprints 2 and 3
    </h2>

    <div class="mfsp-index-card">
      <p>This is the prototype for beta sprints 2 and 3.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added last updated column to the projects list.</li>
        <li>Added a project status tag to the project overview page.</li>
        <li>Reorganised project overview into smaller sections.</li>
        <li>Removed some fields from project overview based on SME feedback.</li>
        <li>Empty tags added to all fields in key projection information.</li>
        <li>Changed headings in task list.</li>
        <li>Added school details, trust, region and local authority, and constituency tasks.</li>
        <li>Updated the dates task.</li>
        <li>Added delivery officer filter (to be polished).</li>
        <li>Added tasks to Sign-off preparation.</li>
        <li>Added tasks to Getting ready to open.</li>
      </ul>
    </div>

    <h3 class="govuk-heading-m">
      The conservative approach
    </h3>
    <p>This is a prototype to validate the ideas of replacing the current FSS by Manage free school projects without changing the current work process for delivery officers.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 1: Team leader</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Zara Laney</li>
          <li>Team leader</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-2/?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Log in as a Team leader</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 2: Delivery officer</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Alex James</li>
          <li>Delivery officer</li>
          <li>North West</li>
          <li>Can see their own projects at the top and then other projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-2/?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Log in as a Delivery officer</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 3: SPA team member</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Step Park</li>
          <li>School places analysis team</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Can add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-2/?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Log in as a School places analysis team member</a></li>
        </ul>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    

    <h2 class="govuk-heading-l" id="beta-sprint-1">
      Beta sprint 1
    </h2>

    <div class="mfsp-index-card">
      <p>This is the prototype for beta sprint 1.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Removed "or - uncertain" option from the local authorities page in the creating individual free school project journey.</li>
        <li>Removed h1 tag from filters.</li>
        <li>Added dates to task list.</li>
        <li>Added risk appraisal to task list.</li>
        <li>Added scenario 1 data.</li>
        <li>Added scenario 2 data.</li>
        <li>Removed change links from key project information.</li>
      </ul>
    </div>

    <h3 class="govuk-heading-m">
      The conservative approach
    </h3>
    <p>This is a prototype to validate the ideas of replacing the current FSS by Manage free school projects without changing the current work process for delivery officers.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 1: Team leader</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Zara Laney</li>
          <li>Team leader</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-1/?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Log in as a Team leader</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 2: Delivery officer</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Alex James</li>
          <li>Delivery officer</li>
          <li>North West</li>
          <li>Can see their own projects at the top and then other projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-1/?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Log in as a Delivery officer</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 3: SPA team member</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Step Park</li>
          <li>School places analysis team</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Can add new projects</li>
          <li><a class="govuk-link" href="beta-sprint-1/?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Log in as a School places analysis team member</a></li>
        </ul>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    <h2 class="govuk-heading-l" id="alpha-sprint-6">
      Alpha sprint 6
    </h2>

    <div class="mfsp-index-card">
      <p>More details are added to the sprint 6 prototype, including:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Project overview page is now separated into different sections, including a separated task page and a temporary sub-nav.</li>
        <li>Team leaders and delivery officers will see a <code>Your projects</code> view when they log in but they can still see the <code>All projects</code> view.</li>
        <li>Regions filter is added to projects listing page</li>
        <li>Local authority filter is added to projects listing page</li>
      </ul>
    </div>

    <h3 class="govuk-heading-m">
      The conservative approach
    </h3>
    <p>This is a prototype to validate the ideas of replacing the current FSS by new FSS without changing the current work process for delivery officers.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 1: Team leader</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Zara Laney</li>
          <li>Team leader</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="alpha-sprint-6/?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Log in as a Team leader</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 2: Delivery officer</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Alex James</li>
          <li>Delivery officer</li>
          <li>North West</li>
          <li>Can see their own projects at the top and then other projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="alpha-sprint-6/?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Log in as a Delivery officer</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 3: SPA team member</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Step Park</li>
          <li>School places analysis team</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Can add new projects</li>
          <li><a class="govuk-link" href="alpha-sprint-6/?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Log in as a School places analysis team member</a></li>
        </ul>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="alpha-sprint-5">
      Alpha sprint 5
    </h2>

    <div class="mfsp-index-card">
      <p>More details are added to the sprint 5 prototype, including:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Data file is now separated according to sprints, for example sprint 5 prototype will use <code>data-alpha-sprint-5.js</code>.</li>
        <li>Project title and ID search is added to the projects listing page.</li>
        <li>Content is iterated for bulk upload.</li>
        <li>Content is iterated in the creating individual project's journey.</li>
        <li>Content is iterated in the projects listing page.</li>
      </ul>
    </div>

    <h3 class="govuk-heading-m">
      The conservative approach
    </h3>
    <p>This is a prototype to validate the ideas of replacing the current FSS by new FSS without changing the current work process for delivery officers.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 1: Team leader</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Zara Laney</li>
          <li>Team leader</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="alpha-sprint-5/?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Log in as a Team leader</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 2: Delivery officer</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Alex James</li>
          <li>Delivery officer</li>
          <li>North West</li>
          <li>Can see their own projects at the top and then other projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="alpha-sprint-5/?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Log in as a Delivery officer</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 3: SPA team member</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Step Park</li>
          <li>School places analysis team</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Can add new projects</li>
          <li><a class="govuk-link" href="alpha-sprint-5/?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Log in as a School places analysis team member</a></li>
        </ul>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="alpha-sprint-3">
      Alpha sprint 3 & 4
    </h2>

    <div class="mfsp-index-card">
      <p>More details are added to the sprint 3 & 4 prototype, including:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added more pages into the creating individual project journey</li>
        <li>Moved project data into <code>session-data-defaults.js</code></li>
        <li>Created <a class="govuk-link" href="alpha-sprint-3/project-overview?id=102062">project overview</a> pages</li>
        <li>Added the bulk upload journey</li>
        <li>Added dummy tasks to <a class="govuk-link" href="alpha-sprint-3/project-overview?id=102062">project overview</a> pages</li>
        <li>Delivery officers can also see all projects</li>
      </ul>
    </div>

    <h3 class="govuk-heading-m">
      The conservative approach
    </h3>
    <p>This is a prototype to validate the ideas of replacing the current FSS by new FSS without changing the current work process for delivery officers.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 1: Team leader</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Zara Laney</li>
          <li>Team leader</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="alpha-sprint-3/?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Log in as a Team leader</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 2: Delivery officer</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Alex James</li>
          <li>Delivery officer</li>
          <li>North West</li>
          <li>Can see their own projects at the top and then other projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="alpha-sprint-3/?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Log in as a Delivery officer</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 3: SPA team member</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Step Park</li>
          <li>School places analysis team</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Can add new projects</li>
          <li><a class="govuk-link" href="alpha-sprint-3/?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Log in as a School places analysis team member</a></li>
        </ul>
      </div>
    </div>
    
    <h3 class="govuk-heading-m">
      The disruptive approach
    </h3>
    <p>This is a prototype to validate the ideas of introducing an external upload tool for applicants to submit new school application.</p>
    <p>Prototype to be added.</p>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="alpha-sprint-2">
      Alpha sprint 2
    </h2>

    <div class="mfsp-index-card">
      <p>Initial prototype for FSS workflow design, including:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Login pages for different roles</li>
        <li>Dashboard for different roles</li>
        <li>A placeholder journey for creating new free school projects</li>
      </ul>
    </div>

    <h3 class="govuk-heading-m">
      Presumption route - conservative approach
    </h3>
    <p>This is a prototype to validate the ideas of replacing the current FSS by new FSS without changing the current work process for delivery officers.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 1: Team leader</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Zara Laney</li>
          <li>Team leader</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="alpha-sprint-2/?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Log in as a Team leader (before a new project is received)</a></li>
          <li><a class="govuk-link" href="alpha-sprint-2/dashboard.html?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Dashboard (before a new project is received)</a></li>
          <li><a class="govuk-link" href="alpha-sprint-2/dashboard-after.html?userName=Zara%20Laney&userEmail=zara.laney@education.gov.uk&userRole=Team%20leader&userRegion=North%20West">Dashboard (after a new project is received)</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 2: SPA team member</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Step Park</li>
          <li>School places analysis team</li>
          <li>North West</li>
          <li>Can see all projects</li>
          <li>Can add new projects</li>
          <li><a class="govuk-link" href="alpha-sprint-2/?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Log in as a School places analysis team member (before a new project is received)</a></li>
          <li><a class="govuk-link" href="alpha-sprint-2/dashboard.html?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Dashboard (before a new project is received)</a></li>
          <li><a class="govuk-link" href="alpha-sprint-2/dashboard-after.htm?userName=Step%20Park&userEmail=step.park@education.gov.uk&userRole=School%20places%20analysis%20team&userRegion=North%20West">Dashboard (after a new project is received)</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 3: Delivery officer</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Alex James</li>
          <li>Delivery officer</li>
          <li>North West</li>
          <li>Can see their own projects only</li>
          <li>Cannot add new projects</li>
          <li><a class="govuk-link" href="alpha-sprint-2/?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Log in as a Delivery officer (before a new project is received)</a></li>
          <li><a class="govuk-link" href="alpha-sprint-2/dashboard.html?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Dashboard (before a new project is received)</a></li>
          <li><a class="govuk-link" href="alpha-sprint-2/dashboard-after.html?userName=Alex%20James&userEmail=alex.james@education.gov.uk&userRole=Delivery%20officer&userRegion=North%20West">Dashboard (after a new project is received)</a></li>
        </ul>
      </div>
    </div>


    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  </div>
  <div class="govuk-grid-column-one-quarter">
    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://github.com/DFE-Digital/free-schools-store-prototype">
              GitHub repo
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
