{% extends "./layouts/main.html" %}
{% set currentProject = data['currentProject'] %}

{% block pageTitle %}
  Edit draft governance plans - {{currentProject.projectTitle}} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{currentProject.projectTitle}}</span>
        Edit draft governance plans
      </h1>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post" action="task-draft-governance-plans-landing-page">
            <div class="govuk-form-group">

              {{ govukDateInput({
                id: "draftGovernancePlansForecastDate",
                namePrefix: "draftGovernancePlansForecastDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Forecast date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.draftGovernancePlansForecastDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.draftGovernancePlansForecastDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.draftGovernancePlansForecastDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukDateInput({
                id: "draftGovernancePlansActualDate",
                namePrefix: "draftGovernancePlansActualDate",
                classes: "govuk-!-margin-bottom-6",
                fieldset: {
                  legend: {
                    text: "Actual date",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "For example, 27 3 2021"
                },
                items: [
                {
                  name: "day",
                  value: currentProject.draftGovernancePlansActualDateDay,
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: currentProject.draftGovernancePlansActualDateMonth,
                  classes: "govuk-input--width-2"
                },                
                {
                  name: "year",                  
                  value: currentProject.draftGovernancePlansActualDateYear,
                  classes: "govuk-input--width-4"
                }
              ]
              }) }}

              {{ govukInput({
                id: "draftGovernancePlansCommentsOnDecisionToApprove",
                name: "draftGovernancePlansCommentsOnDecisionToApprove",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Comments on decision to approve (if applicable)",
                    classes: "govuk-heading-m"
                },
                value: currentProject.draftGovernancePlansCommentsOnDecisionToApprove
              }) }}

              {{ govukInput({
                id: "draftGovernancePlansSharepointLink",
                name: "draftGovernancePlansSharepointLink",
                classes: "govuk-!-margin-bottom-6",
                label: {
                    text: "Sharepoint link",
                    classes: "govuk-heading-m"
                },
                value: currentProject.draftGovernancePlansSharepointLink
              }) }}

              <br><br>
              {{ govukButton({
                text: "Save and continue"
              }) }}

            </div>
          </form>

        </div>
      </div>


    </div>
  </div>
{% endblock %}
